<!DOCTYPE html>
<html lang="en">
<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>CS Education</title>
    <!-- Icons-->
    <link href="/static/ui/vendors/@coreui/icons/css/coreui-icons.min.css" rel="stylesheet">
    <link href="/static/ui/vendors/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
    <link href="/static/ui/vendors/font-awesome/css/all.min.css" rel="stylesheet">
    <link href="/static/ui/vendors/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <!-- Main styles for this application-->
    <link href="/static/ui/css/style.css" rel="stylesheet">
    <link href="/static/ui/vendors/pace-progress/css/pace.min.css" rel="stylesheet">
    <script src="/static/assessment/js/testsets.js"></script>
</head>
<body>


<form name="modalForm" id="testset_search_form" method="get" class="form inline" role="form">
    <div class="card-accent-info">
        <div class="card-header"><i class="fas fa-calendar-check"
                                    style="color: #339af0;"></i><strong>Assessment <{{ form.assessment_id.data }}> -
            Testset Search</strong>
            <span class="badge badge-info float-right">Search</span>
        </div>
        <div class="card-body">
            Please follow these steps:<br>
            Step1- Enter your search conditions and Click on the Search button.<br>
            Step2- Choose testsets to include in the assessment. Click on the Apply button. <br>
            <div class="callout callout-success b-t-1 b-r-1 b-b-1">
                <br>
                {{ form.test_type.label }}
                {{ form.test_type(id="t_type") }}
                {{ form.testset_name.label }}
                {{ form.testset_name(id="t_name") }} <br>
                {{ form.grade.label }}
                {{ form.grade(id="t_grade") }}
                {{ form.subject.label }}
                {{ form.subject(id="t_subject") }}
                <span class="btn btn-success btn-sm" id="testset_search" onclick="searchTestset()">Search</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <button class="btn btn-danger btn-sm" id="testset_apply" onclick="applyTestset()" data-dismiss="modal">Apply
            </button>
            <button class="btn btn-outline-danger btn-sm" data-dismiss="modal">Close</button>
        </div>
        <div class="col"></div>
    </div>
</form>
<br>
<div class="container">
<div style="height: 300px;overflow-y: auto;">
    <table id="testsets_searched" class="table table-hover" style="width:100%">
        <thead>
        <tr>
            <th><input type="checkbox" id="selectall" onclick="selectAllClick()"/>
                <a id="reverse" onclick="reverseClick()"><i class="icon-loop icons"></i></a>
            <th>ID</th>
            <th>Testset Name</th>
            <th>Version</th>
            <th>Grade</th>
            <th>Subject</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="5">No data found.</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="modal fade" id="dataModalInfo" tabindex="-1" role="dialog" aria-labelledby="dataModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dataModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                TESTSET INFO
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>