<!DOCTYPE html>
<html lang="en">
<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>CS Education</title>
    <!-- Icons-->
    <link href="/static/ui/vendors/@coreui/icons/css/coreui-icons.min.css" rel="stylesheet">
    <link href="/static/ui/vendors/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
    <link href="/static/ui/vendors/font-awesome/css/all.min.css" rel="stylesheet">
    <link href="/static/ui/vendors/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <!-- Main styles for this application-->
    <link href="/static/ui/css/style.css" rel="stylesheet">
    <link href="/static/ui/vendors/pace-progress/css/pace.min.css" rel="stylesheet">
    <script src="/static/ui/vendors/moment.js/js/moment.js"></script>
</head>
<body>
<div class="card">
    <div class="card-header"><i class="icons cui-lock-locked"></i>
        Change Your Password
    </div>
    <div class="card-body">
        <form action="{{ url_for('auth.set_password') }}" method="post">
            {{ form.hidden_tag() }}
            <div class="form-group required">{{ form.old_password.label }}
                {{ form.old_password() }}{% for error in form.old_password.errors %}
                    <span style="color: red;">{{ error }}</span>{% endfor %}</div>
            <div class="form-group required">{{ form.password.label }}
                {{ form.password() }}{% for error in form.password.errors %}
                    <span style="color: red;">{{ error }}</span>{% endfor %}</div>
            <div class="form-group required">{{ form.password2.label }}
                {{ form.password2() }}{% for error in form.password2.errors %}
                    <span style="color: red;">{{ error }}</span>{% endfor %}</div>
            {{ form.submit(class="btn btn-success", id="u_submit", value="Submit") }} <a
                href="{{ url_for('web.index') }}"
                class="btn btn-warning">Cancel</a>
        </form>
    </div>
</div>
</body>
</html>
