@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Pacifico|Source+Sans+Pro:400,700");

@page {
    margin: 1cm;
    @bottom-left {
        color: #1ee494;
        font-family: Pacifico;
        content: '♥ Thank you!';
    }
    @bottom-right {
        color: #a9a;
        content: 'CS Education | www.cseducation.com.au';
        font-family: Pacifico;
        font-size: 9pt;
    }
}

html {
    color: #14213d;
    font-family: Source Sans Pro;
    font-size: 11pt;
    line-height: 1.6;
}

html body {
    margin: 0;
}

html div.header {
    margin-bottom: 1em;
}

html h1 {
    color: #1ee494;
    font-family: Pacifico;
    font-size: 24pt;
    margin: 0;
}

html table {
    border-collapse: collapse;
    width: 100%;
}

html table#t_student_info th {
    border: .1mm solid #a9a;
    font-size: 10pt;
    font-weight: 400;
    text-transform: uppercase;
}

html table#t_student_info td {
    border: .1mm solid #a9a;
    font-weight: bold;
    font-weight: 400;
}

html table#t_mark {
    width: 100%;
}

html table#t_mark th{
    background-color: #ffe8a1;
    vertical-align: bottom;
    border-top: 1px solid #c8ced3;
    border-bottom: 2px solid #c8ced3;
    border-color: #ffdf7e;
}

html table#t_mark_info {
    width: 100%;
}

html table#t_mark_info th {
    vertical-align: bottom;
    border-top: 1px solid #c8ced3;
}

html table#t_mark_info td {
    vertical-align: top;
    border-top: 1px solid #c8ced3;
}

html table#t_mark_info th.small, td.small {
    font-size: 8pt;
}

html img.t_mark_info_image {
    border: 2px solid #c8ced3;
    width: 100%;
    margin-left: 5px;
}
