@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Source+Sans+Pro:400,700&display=swap");

@page {
    margin: 1cm;
    @bottom-left {
        color: #1ee494;
        font-family: 'Bree Serif', serif;
        content: '♥ Thank you!';
    }
    @bottom-right {
        color: #a9a;
        content: 'CS Education | www.cseducation.com.au';
        font-family: 'Bree Serif', serif;
        font-size: 9pt;
    }
}

html {
    color: #14213d;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 11pt;
    line-height: 1.6;
}

html body {
    margin: 0;
}

html div.header {
    margin-bottom: 1em;
}

html h1 {
    color: #1ee494;
    font-family: 'Bree Serif', serif;
    font-size: 24pt;
    margin: 0;
}

html table {
    border-collapse: collapse;
    width: 100%;
    padding: 10px;
    border-spacing: 10px;
}

html table#t_student_info th {
    border: .3mm solid #0c0c0c;
    font-size: 10pt;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    width: 20%
}

html table#t_student_info td {
    border: .3mm solid #0c0c0c;
    font-weight: 400;
}

html table#t_mark_info th {
    background-color: #ffe8a1;
    vertical-align: bottom;
    border-top: 1px solid #c8ced3;
    border-bottom: 2px solid #c8ced3;
    border-color: #ffdf7e;
    font-size: 10pt;
    font-weight: 700;
    text-transform: uppercase;
}

html table#t_mark_info td {
    background-color: white;
    vertical-align: bottom;
    border-top: 1px solid #c8ced3;
    border-bottom: 1px solid #c8ced3;
    border-color: #9ea8b1;
    font-size: 8pt;
    font-weight: 400;
}

html table#t_writing {
    width: 100%;
}

html table#t_writing th {
    background-color: #ffe8a1;
    vertical-align: bottom;
    border-top: 1px solid #c8ced3;
    border-bottom: 2px solid #c8ced3;
    border-color: #ffdf7e;
}

html table#t_writing td {
    vertical-align: top;
    border-top: 1px solid #c8ced3;
}

html img.writing_image {
    border: 2px solid #c8ced3;
    width: 100%;
    margin-left: 5px;
}