#t_header th {
    width: 85%;
    text-align: center;
}

#t_header td {
    width: 15%;
    text-align: right;
}

#t_student_info th {
    width: 15%;
    text-align: center;
    border: 1px solid #0f0f0f;
}

#t_student_info td {
    width: 35%;
    text-align: left;
    border: 1px solid #0f0f0f;
}
#t_mark_info th,
#t_mark_info td {
    vertical-align: middle;
    text-align: center;
}
#t_mark_info tr th:nth-child(1),
#t_mark_info tr td:nth-child(1)
{
    width: 100px;
}
#t_mark_info tr td:nth-child(2),
#t_mark_info tr td:nth-child(4)
{
    width: 300px;
    max-width: 300px;
}
#t_mark_info tr td:nth-child(3),
#t_mark_info tr td:nth-child(5)
{
    width: 100px;
    max-width: 100px;
}
#t_mark_info tr td:nth-child(6),
#t_mark_info tr td:nth-child(7)
{
    width: 100px;
    max-width: 100px;
}

#t_mark_info tr td:nth-child(6) i,
#t_mark_info tr td:nth-child(7) i
{
    cursor: pointer;
}

#t_assessment_info th,
#t_assessment_info td {
    vertical-align: middle;
    text-align: center;
}

#t_graph {
    table-layout: auto;
    width: 100%;
    border: 5px solid white;
}

#t_graph td {
    vertical-align: middle;
    border: 0 solid white;
}

.retry-wrapper {
    margin-bottom: 3px;
}

.item-card .mfp-close {
    color: #FFF;
    text-align: center;
    padding-right: 6px;
    font-size: 31px;
    font-weight: 700;
}

.pt-20 {
    padding-top: 20px;
}
.txt-red {
    color:var(--red);
}

.t_verbal tr td:nth-child(3), .t_verbal tr td:nth-child(4), .t_verbal tr td:nth-child(6) {
    width: 300px !important;
    max-width: 300px !important;
}

.marking-card {
    margin-bottom: 10px;
    display: inline-block !important;
    min-width: 60px;

}
.marking-card > .card-header {
    padding: 0;
}
.marking-card > .card-body {
    padding: 2px;
}

#t_student_info .thead-light td, #t_student_info .thead-light th {
    border:0.5px solid #0f0f0f !important;
}
.t_verbal thead th {
    border-bottom-width:1px !important;
}
