{% extends "ui/assessments_base.html" %}
{% block title %}CSEdu Assessment System - Testset Management{% endblock %}
{% block app_content %}
 <style>
    .score-summary {
         margin: 10px 0 10px 0;
    }
    .score-summary th, .score-summary td {
        padding:10px;
    }
</style>
  <div class="assessment-list-header">
    <div class="{{ btn_group }} btn-group-toggle test-type-group" data-toggle="buttons">
      <label class="btn {{ btn_all.class }} all {{ btn_all.active }}" {{ btn_all.display|safe }}>
        <input type="radio" name="type-options" value="all" autocomplete="off" {{ btn_all.checked }}> All
      </label>
      <label class="btn {{ btn_class.class }} class {{ btn_class.active }}" {{ btn_class.display|safe }}>
        <input type="radio" name="type-options" value="class" autocomplete="off" {{ btn_class.checked }}> Class Test
      </label>
      <label class="btn {{ btn_trial.class }} trial {{ btn_trial.active }}" {{ btn_trial.display|safe }}>
        <input type="radio" name="type-options" value="trial" autocomplete="off" {{ btn_trial.checked }}> Trial Test
      </label>
      <label class="btn {{ btn_homework.class }} homework {{ btn_homework.active }}" {{ btn_homework.display|safe }}>
        <input type="radio" name="type-options" value="homework" autocomplete="off" {{ btn_homework.checked }}> Homework
      </label>
    </div>
  </div>
  {% if assessments_list|length==0 %}
    <div class="card">
        <div class="card-header"></div>
        <div class="card-body">There is no available assessment test.</div>
    </div>
  {% endif %}
  {% for key, assessments in assessments_list.items() %}
      <div class="accordion" id="accordion">
          <div class="card card-accent-info">
              <div class="card-header" id="headingOne">
                  <i class="icons cui-magnifying-glass"></i> {{ key }}
                  {% if assessments|length ==0 %}
                      (There is no available assessment test.)
                  {% endif %}
                  <div class="card-header-actions">
                      <a class="card-header-action btn-minimize" data-toggle="collapse" data-target="#collapseOne"
                         aria-expanded="false" aria-controls="collapseOne">
                          <i class="icon-arrow-up"></i>
                      </a>
                  </div>
              </div>
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion" style="overflow-x: auto">
                  {% if key == 'Homework' %}
                      {% if unit != None %}
                      <h5 class="card-title card-body">UNIT {{ unit }} </h5>
                      {% endif %}
                      {% for assessment in assessments %}
                          <div class="card-body {{ assessment.first_assessment.assessment_type_class }}">
                              <div>
                              <h5 class="card-title">{{ assessment.name }}<small class="text-uppercase text-muted"> -{{ assessment.first_assessment.assessment_type_name }}</small></h5>

                                  {% if assessment['subjects'] and Codebook.get_code_name(assessment['first_assessment'].test_type)=='Online Selective' %}
                                  <div>
                                      <table class="table-bordered score-summary">
                                          <thead><tr bgcolor="#f5f5dc">
                                          <th>Subject</th>
                                          {% for tset in assessment['subjects'] %}
                                          <th>{{ Codebook.get_code_name(tset['name']) }}</th>
                                          {% endfor %}
                                          <th>Total</th></tr></thead>
                                          <tr>
                                          <td>Score(%)</td>
                                          {% set vars = {'total_amount': 0}  %}
                                          {% for tset in assessment['subjects'] %}
                                              {% for tlist in tset['list'] %}
                                                {% if vars.update({'total_amount': vars.total_amount + tlist.score}) %}{% endif %}
                                                <td>{{ tlist.score|round(1, 'floor') }} &nbsp;</td>
                                              {% endfor %}
                                          {% endfor %}
                                           <td>{{ vars.total_amount|round(1, 'floor') }}</td>
                                          </tr>
                                      </table>
                                  </div>
                              {% endif %}
                              </div>
                              <input type="hidden" id="student_user_id" value="{{ student_user_id }}">
                              <div class="row d-inline-block">
                                  <div class="col">
                                      <input type="hidden" name="assessment_guid"
                                             value="{{ assessment.first_assessment.GUID }}">
                                      <table id="testsets" class="display table table-hover" style="width:100%">
                                          <thead>
                                          {% for sub in assessment.subjects %}
                                          <tr>
                                              <th></th>
                                              {% for sub_list in sub['list'] %}
                                              {% for assessment in sub_list.assessments %}
                                              {% for ts in assessment.testsets %}
                                              <th>Test Set</th>
                                              <th>Status</th>
                                              {% if ts.enable_report %}
                                                  <th>Report</th>
                                              {% endif %}
                                              {% if ts.enable_video %}
                                                  <th align="center"><span class="btn btn-default"><i
                                                          class="fa fa-microphone"></i></span></th>
                                              {% endif %}
                                              {% endfor %}
                                              {% endfor %}
                                              {% endfor %}
                                          </tr>
                                          {% endfor %}
                                          </thead>
                                          <tbody>
                                          {% for sub in assessment.subjects %}
                                              <tr>
                                                  <td>
                                                      {{ Codebook.get_code_name(sub['name']) }}
                                                  </td>
                                                  {% for sub_list in sub['list'] %}
                                                  {% for assessment in sub_list.assessments %}
                                                  {% for ts in assessment.testsets %}
                                                  <td>
                                                      {% if ts.enrolled and not ts.resumable %}
                                                          <input type="button" class="btn btn-light btn-block"
                                                                 data-testset-id="{{ ts.id }}" value="{{ ts.name }}"
                                                                 disabled>
                                                      {% else %}
                                                          <input type="button" class="btn btn-success btn-block"
                                                                 data-testset-id="{{ ts.id }}" value="{{ ts.name }}"
                                                                 disabled>
                                                      {% endif %}
                                                  </td>
                                                  <td>
                                                      {% if ts.enrolled %}
                                                          {% if ts.resumable %}
                                                              <input type="button"
                                                                     class="btn btn-primary btn-block resume"
                                                                     data-student-user-id="{{ student_user_id }}"
                                                                     data-assessment-guid="{{ assessment.GUID }}"
                                                                     data-testset-id="{{ ts.id }}"
                                                                     data-session-key="{{ ts.session_key }}"
                                                                     value="Resume">
                                                          {% elif ts.restartable %}
                                                            <input type="button" class="btn btn-primary btn-block start"
                                                                 data-student-user-id="{{ student_user_id }}"
                                                                 data-assessment-guid="{{ assessment.GUID }}"
                                                                 data-testset-id="{{ ts.id }}" value="Retry">
                                                          {% else %}
                                                              <input type="button" class="btn btn-secondary btn-block"
                                                                     value="Finished" disabled>
                                                          {% endif %}
                                                      {% else %}
                                                          {% if Codebook.get_code_name(ts.subject)=='Writing' and Codebook.get_code_name(ts.test_type)=='Selective' %}
                                                              <button class="btn btn-warning btn-block btn-instruction"
                                                                      onclick="window.open('https://tstm.cbtest.com.au/static/common/instructions/Writing%20submission%20guidelines.pdf','_blank')">
                                                                  Exam Instructions
                                                              </button>
                                                          {% elif Codebook.get_code_name(ts.test_type)=='Summative test' %}
                                                              {% if Codebook.get_code_name(ts.subject)=='Writing' %}
                                                                  <button class="btn btn-warning btn-block btn-instruction"
                                                                          onclick="window.open('https://tstm.cbtest.com.au/static/common/instructions/Class%20Test_Writing.pdf','_blank')">
                                                                      Exam Instructions
                                                                  </button>
                                                              {% else %}
                                                                  <button class="btn btn-warning btn-block btn-instruction"
                                                                          onclick="window.open('https://tstm.cbtest.com.au/static/common/instructions/Class%20Test_Multiple%20Choice.pdf','_blank')">
                                                                      Exam Instructions
                                                                  </button>
                                                              {% endif %}
                                                          {% elif Codebook.get_code_name(ts.test_type)=='Selective' %}
                                                              {% if Codebook.get_code_name(ts.subject)=='Writing' %}
                                                                  <button class="btn btn-warning btn-block btn-instruction"
                                                                          onclick="window.open('https://tstm.cbtest.com.au/static/common/instructions/Class%20Test_Writing.pdf','_blank')">
                                                                      Exam Instructions
                                                                  </button>
                                                              {% else %}
                                                                  <button class="btn btn-warning btn-block btn-instruction"
                                                                          onclick="window.open('https://tstm.cbtest.com.au/static/common/instructions/STT%20Mul_submission%20guide.pdf','_blank')">
                                                                      Exam Instructions
                                                                  </button>
                                                              {% endif %}
                                                          {% elif Codebook.get_code_name(ts.test_type)=='OC' or Codebook.get_code_name(ts.test_type)=='Extra OC'  %}
                                                              <button class="btn btn-warning btn-block btn-instruction"
                                                                      onclick="window.open('https://tstm.cbtest.com.au/static/common/instructions/OC%20submission%20guide.pdf','_blank')">
                                                                      Exam Instructions
                                                              </button>
                                                          {% endif %}
                                                          <input type="button" class="btn btn-primary btn-block start"
                                                                 data-student-user-id="{{ student_user_id }}"
                                                                 data-assessment-guid="{{ assessment.GUID }}"
                                                                 data-testset-id="{{ ts.id }}" value="Start">
                                                      {% endif %}
                                                  </td>
                                                  {% if ts.enable_report %}
                                                      <td>
                                                          {% if ts.enrolled and not ts.resumable %}
                                                              {% if Codebook.get_code_name(ts.subject)=='Writing' and not ts.enable_writing_report %}
                                                                  <input type="button" class="btn btn-secondary btn-block"
                                                                         value="Not Available" disabled>
                                                              {% else %}
                                                                {% if ts.report_type == 'report' %}
                                                                  <input type="button" class="btn btn-primary report"
                                                                         data-student-user-id="{{ student_user_id }}"
                                                                         data-assessment-id="{{ assessment.id }}"
                                                                         data-assessment-guid="{{ assessment.GUID }}"
                                                                         data-testset-id="{{ ts.id }}"
                                                                         value="View Report">
                                                                {% else %}
                                                                  <input type="button" class="btn btn-primary error-note"
                                                                         data-assessment-enrol-id="{{ ts.enroll_id }}"
                                                                         value="View Report">
                                                                {% endif %}
                                                              {% endif %}
                                                          {% else %}
                                                              <input type="button" class="btn btn-secondary btn-block"
                                                                     value="Not Available" disabled>
                                                          {% endif %}
                                                      </td>
                                                  {% endif %}
                                                  {% if ts.enable_video %}
                                                      <td>
                                                          {% if ts.enrolled and not ts.resumable  and ts.explanation_link %}
                                                              <button class="btn btn-outline-danger" type="button"
                                                                     id="view_explanation_window"
                                                                     name="view_explanation_window"
                                                                     data-toggle="modal" data-target="#csmovieModal"
                                                                     data-testset-id="{{ ts.id }}"
                                                                     data-link="{{ ts.explanation_link }}">
                                                              <i class="fa fa-play" style="color: #FF7F6E"></i>
                                                              </button>
                                                          {% else %}
                                                              <button class="btn btn-outline-secondary btn-block"
                                                                      disabled><i
                                                                      class="fa fa-stop"></i></button>
                                                          {% endif %}
                                                      </td>
                                                  {% endif %}
                                                  {% endfor %}
                                                  {% endfor %}
                                                  {% endfor %}
                                              </tr>
                                          {% endfor %}
                                          </tbody>
                                      </table>
                                  </div>
                                  <div class="col"></div>
                                  <div class="col"></div>
                              </div>
                          </div>
                      {% endfor %}

                  {% else %}
                      {% for assessment in assessments %}
                          <div class="card-body {{ assessment.assessment_type_class }}">
                              <div>
                              <h5 class="card-title">{{ assessment.name }}<small class="text-uppercase text-muted"> -{{ assessment.assessment_type_name }}</small></h5>

                                  {% if assessment.testsets and Codebook.get_code_name(assessment.testsets[0].test_type)=='Online Selective' %}
                                  <div>
                                      <table class="table-bordered score-summary">
                                          <thead><tr bgcolor="#f5f5dc">
                                          <th>Subject</th>
                                          {% for tset in assessment.testsets %}
                                          <th>{{ Codebook.get_code_name(tset.subject) }}</th>
                                          {% endfor %}
                                          <th>Total</th></tr></thead>
                                          <tr>
                                          <td>Score(%)</td>
                                          {% set vars = {'total_amount': 0}  %}
                                          {% for tset in assessment.testsets %}
                                             {% if vars.update({'total_amount': vars.total_amount + tset.score}) %}{% endif %}
                                          <td>{{ tset.score|round(1, 'floor') }} &nbsp;</td>
                                          {% endfor %}
                                           <td>{{ vars.total_amount|round(1, 'floor') }}</td>
                                          </tr>
                                      </table>
                                  </div>
                              {% endif %}
                              </div>
                              <input type="hidden" id="student_user_id" value="{{ student_user_id }}">
                              <div class="row">
                                  <div class="col">
                                      <input type="hidden" name="assessment_guid"
                                             value="{{ assessment.GUID }}">
                                      <table id="testsets" class="display table table-hover" style="width:100%">
                                          <thead>
                                          <tr>
                                              <th></th>
                                              <th>Test Set</th>
                                              <th>Status</th>
                                              {% if assessment.testsets and assessment.testsets[0].enable_report %}
                                                  <th>Report</th>
                                              {% endif %}
                                              {% if assessment.testsets and assessment.testsets[0].enable_video %}
                                                  <th align="center"><span class="btn btn-default"><i
                                                          class="fa fa-microphone"></i></span></th>
                                              {% endif %}
                                          </tr>
                                          </thead>
                                          <tbody>
                                          {% for ts in assessment.testsets %}
                                              <tr>
                                                  <td>
                                                      {{ loop.index }}
                                                  </td>
                                                  <td>
                                                      {% if ts.enrolled and not ts.resumable %}
                                                          <input type="button" class="btn btn-light btn-block"
                                                                 data-testset-id="{{ ts.id }}" value="{{ ts.name }}"
                                                                 disabled>
                                                      {% else %}
                                                          <input type="button" class="btn btn-success btn-block"
                                                                 data-testset-id="{{ ts.id }}" value="{{ ts.name }}"
                                                                 disabled>
                                                      {% endif %}
                                                  </td>
                                                  <td>
                                                      {% if ts.enrolled %}
                                                          {% if ts.resumable %}
                                                              <input type="button"
                                                                     class="btn btn-primary btn-block resume"
                                                                     data-student-user-id="{{ student_user_id }}"
                                                                     data-assessment-guid="{{ assessment.GUID }}"
                                                                     data-testset-id="{{ ts.id }}"
                                                                     data-session-key="{{ ts.session_key }}"
                                                                     value="Resume">
                                                          {% elif ts.restartable %}
                                                            <input type="button" class="btn btn-primary btn-block start"
                                                                 data-student-user-id="{{ student_user_id }}"
                                                                 data-assessment-guid="{{ assessment.GUID }}"
                                                                 data-testset-id="{{ ts.id }}" value="Retry">
                                                          {% else %}
                                                              <input type="button" class="btn btn-secondary btn-block"
                                                                     value="Finished" disabled>
                                                          {% endif %}
                                                      {% else %}
                                                          {% if Codebook.get_code_name(ts.subject)=='Writing' and Codebook.get_code_name(ts.test_type)=='Selective' %}
                                                              <button class="btn btn-warning btn-block btn-instruction"
                                                                      onclick="window.open('https://tstm.cbtest.com.au/static/common/instructions/Writing%20submission%20guidelines.pdf','_blank')">
                                                                  Exam Instructions
                                                              </button>
                                                          {% elif Codebook.get_code_name(ts.test_type)=='Summative test' %}
                                                              {% if Codebook.get_code_name(ts.subject)=='Writing' %}
                                                                  <button class="btn btn-warning btn-block btn-instruction"
                                                                          onclick="window.open('https://tstm.cbtest.com.au/static/common/instructions/Class%20Test_Writing.pdf','_blank')">
                                                                      Exam Instructions
                                                                  </button>
                                                              {% else %}
                                                                  <button class="btn btn-warning btn-block btn-instruction"
                                                                          onclick="window.open('https://tstm.cbtest.com.au/static/common/instructions/Class%20Test_Multiple%20Choice.pdf','_blank')">
                                                                      Exam Instructions
                                                                  </button>
                                                              {% endif %}
                                                          {% elif Codebook.get_code_name(ts.test_type)=='Selective' %}
                                                              {% if Codebook.get_code_name(ts.subject)=='Writing' %}
                                                                  <button class="btn btn-warning btn-block btn-instruction"
                                                                          onclick="window.open('https://tstm.cbtest.com.au/static/common/instructions/Class%20Test_Writing.pdf','_blank')">
                                                                      Exam Instructions
                                                                  </button>
                                                              {% else %}
                                                                  <button class="btn btn-warning btn-block btn-instruction"
                                                                          onclick="window.open('https://tstm.cbtest.com.au/static/common/instructions/STT%20Mul_submission%20guide.pdf','_blank')">
                                                                      Exam Instructions
                                                                  </button>
                                                              {% endif %}
                                                          {% elif Codebook.get_code_name(ts.test_type)=='OC' or Codebook.get_code_name(ts.test_type)=='Extra OC'  %}
                                                              <button class="btn btn-warning btn-block btn-instruction"
                                                                      onclick="window.open('https://tstm.cbtest.com.au/static/common/instructions/OC%20submission%20guide.pdf','_blank')">
                                                                      Exam Instructions
                                                              </button>
                                                          {% endif %}
                                                          <input type="button" class="btn btn-primary btn-block start"
                                                                 data-student-user-id="{{ student_user_id }}"
                                                                 data-assessment-guid="{{ assessment.GUID }}"
                                                                 data-testset-id="{{ ts.id }}" value="Start">
                                                      {% endif %}
                                                  </td>
                                                  {% if ts.enable_report %}
                                                      <td>
                                                          {% if ts.enrolled and not ts.resumable %}
                                                              {% if Codebook.get_code_name(ts.subject)=='Writing' and not ts.enable_writing_report %}
                                                                  <input type="button" class="btn btn-secondary btn-block"
                                                                         value="Not Available" disabled>
                                                              {% else %}
                                                                {% if ts.report_type == 'report' %}
                                                                  <input type="button" class="btn btn-primary report"
                                                                         data-student-user-id="{{ student_user_id }}"
                                                                         data-assessment-id="{{ assessment.id }}"
                                                                         data-assessment-guid="{{ assessment.GUID }}"
                                                                         data-testset-id="{{ ts.id }}"
                                                                         value="View Report">
                                                                {% else %}
                                                                  <input type="button" class="btn btn-primary error-note"
                                                                         data-assessment-enrol-id="{{ ts.enroll_id }}"
                                                                         value="View Report">
                                                                {% endif %}
                                                              {% endif %}
                                                          {% else %}
                                                              <input type="button" class="btn btn-secondary btn-block"
                                                                     value="Not Available" disabled>
                                                          {% endif %}
                                                      </td>
                                                  {% endif %}
                                                  {% if ts.enable_video %}
                                                      <td>
                                                          {% if ts.enrolled and not ts.resumable  and ts.explanation_link %}
                                                              <button class="btn btn-outline-danger" type="button"
                                                                     id="view_explanation_window"
                                                                     name="view_explanation_window"
                                                                     data-toggle="modal" data-target="#csmovieModal"
                                                                     data-testset-id="{{ ts.id }}"
                                                                     data-link="{{ ts.explanation_link }}">
                                                              <i class="fa fa-play" style="color: #FF7F6E"></i>
                                                              </button>
                                                          {% else %}
                                                              <button class="btn btn-outline-secondary btn-block"
                                                                      disabled><i
                                                                      class="fa fa-stop"></i></button>
                                                          {% endif %}
                                                      </td>
                                                  {% endif %}
                                              </tr>
                                          {% endfor %}
                                          </tbody>
                                      </table>
                                  </div>
                                  <div class="col"></div>
                                  <div class="col"></div>
                              </div>
                          </div>
                      {% endfor %}
                  {% endif %}
              </div>
          </div>
      </div>
  {% endfor %}
  {% include "_modal.html" %}
{% endblock app_content %}
{% block scripts %}
    {{ super() }}
    <script src="/static/common/js/csedu_common.js"></script>
    <script>
        $(document).ready(function () {
            $('#testsets input.start').on('click', function () {
                var assessment_guid = $(this).data('assessment-guid');
                var testset_id = $(this).data('testset-id');
                var student_user_id = $(this).data('student-user-id');
                window.location.replace('/testing?assessment=' + assessment_guid + '&testset_id='
                    + testset_id + '&student_user_id=' + student_user_id);
            });
            $('#testsets input.resume').on('click', function () {
                var session_key = $(this).data('session-key');
                $.ajax({
                    url: '/api/resume',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({session_key: session_key}),
                    complete: function () {
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        location.reload();
                    },
                    success: function (response) {
                        if (response.result === 'success') {
                            var rsp_data = response.data || {};
                            var session_key = rsp_data.session_key;
                            window.location.replace('/testing?session=' + session_key);
                        }
                    }
                });
            });

            $("#csmovieModal").on("show.bs.modal", function (event) {
                var button = $(event.relatedTarget) //Button that triggered the modal
                var explanation_link = button.data('link');
                $('#csmovie').attr('src', explanation_link);
            });

            $('#testsets input.report').on('click', function () {
                var assessment_guid = $(this).data('assessment-guid');
                var assessment_id = $(this).data('assessment-id');
                var testset_id = $(this).data('testset-id');
                var student_user_id = $(this).data('student-user-id');
                window.location = '/report/ts/' + assessment_id + '/'
                    + testset_id + '/' + student_user_id;
            });

            $('#testsets input.error-note').on('click', function () {
                var assessment_enroll_id = $(this).data('assessment-enrol-id');
                window.location = '/errnote/' + assessment_enroll_id;
            });

            $('input[type=radio][name=type-options]').on('change', function () {
              var app_body = $('.app-body.assessments');
              app_body.removeClass('homework');
              app_body.removeClass('class');
              app_body.removeClass('trial');
              app_body.addClass(this.value);
              var btns = $('.assessment-list-header label');
              for (var i=0; i<btns.length; i++) {
                if ($(btns[i]).hasClass(this.value)) {
                  $(btns[i]).removeClass('btn-light');
                  $(btns[i]).addClass('btn-primary');
                } else {
                  $(btns[i]).removeClass('btn-primary');
                  $(btns[i]).addClass('btn-light');
                }
              }
            });
        });
    </script>
{% endblock %}