{% extends "ui/testsets_base.html" %}
{% block title %}CSEdu Assessment System - Testset Management{% endblock %}
{% block app_content %}
    <h3><i class="icons cui-laptop" style="color: #339af0;"></i> CS Education - Online Test </h3>
    <div class="row">
        <div class="col">
            <div class="card card-accent-info">
                <div class="card-header">
                </div>
                {% for assessment in assessments %}
                    <div class="card-body">
                        <h5 class="card-title">{{ assessment.name }}</h5>
                        <input type="hidden" id="student_user_id" value="{{ student_user_id }}">
                        <div class="row">
                            <div class="col">
                                <input type="hidden" name="assessment_guid"
                                       value="{{ assessment.GUID }}">
                                <table id="testsets" class="display table table-hover" style="width:100%">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>Test Set</th>
                                        <th>Status</th>
                                        {% if assessment.testsets and assessment.testsets[0].enable_report %}
                                            <th>Report</th>
                                            <th align="center"><span class="btn btn-default"><i
                                                    class="fa fa-microphone"></i></span></th>
                                        {% endif %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for ts in assessment.testsets %}
                                        <tr>
                                            <td>
                                                {{ loop.index }}
                                            </td>
                                            <td>
                                                {% if ts.enrolled %}
                                                    <input type="button" class="btn btn-light btn-block"
                                                           data-testset-id="{{ ts.id }}" value="{{ ts.name }}" disabled>
                                                {% else %}
                                                    <input type="button" class="btn btn-success btn-block"
                                                           data-testset-id="{{ ts.id }}" value="{{ ts.name }}" disabled>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if ts.enrolled %}
                                                    <input type="button" class="btn btn-secondary btn-block"
                                                           value="Finished" disabled>
                                                {% else %}
                                                    <input type="button" class="btn btn-primary btn-block start"
                                                           data-student-user-id="{{ student_user_id }}"
                                                           data-assessment-guid="{{ assessment.GUID }}"
                                                           data-testset-id="{{ ts.id }}" value="Start">
                                                {% endif %}
                                            </td>
                                            {% if ts.enable_report %}
                                                <td>
                                                    {% if ts.enrolled %}
                                                        <input class="btn btn-primary report"
                                                               data-student-user-id="{{ student_user_id }}"
                                                               data-assessment-id="{{ assessment.id }}"
                                                               data-assessment-guid="{{ assessment.GUID }}"
                                                               data-testset-id="{{ ts.id }}"
                                                               value="Test# {{ assessment.id }}- {{ ts.id }} ">
                                                    {% else %}
                                                        <input type="button" class="btn btn-secondary btn-block"
                                                               value="Not Available" disabled>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if ts.enrolled %}
                                                        <a id="view_explanation"
                                                           class="btn btn-outline-danger" type="button"
                                                           data-url="{{ url_for('web.view_explanation',testset_id=ts.id) }}"
                                                           data-toggle="modal" data-target="#dataModalXL"
                                                           data-backdrop="static"
                                                        ><i class="fa fa-play" style="color: #FF7F6E"></i>
                                                        </a>
                                                    {% else %}
                                                        <button class="btn btn-outline-secondarybtn-block" disabled><i
                                                                class="fa fa-stop"></i></button>
                                                    {% endif %}
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="col"></div>
                            <div class="col"></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% include "_modal.html" %}
{% endblock app_content %}
{% block scripts %}
    {{ super() }}
    <script src="/static/common/js/csedu_common.js"></script>
    <script>
        $(document).ready(function () {
            $('#testsets input.start').on('click', function () {
                var assessment_guid = $(this).data('assessment-guid');
                var testset_id = $(this).data('testset-id');
                var student_user_id = $(this).data('student-user-id');
                window.location.replace('/testing?assessment=' + assessment_guid + '&testset_id='
                    + testset_id + '&student_user_id=' + student_user_id);
            });

            $('#testsets input.report').on('click', function () {
                var assessment_guid = $(this).data('assessment-guid');

                var assessment_id = $(this).data('assessment-id');
                var testset_id = $(this).data('testset-id');
                var student_user_id = $(this).data('student-user-id');
                window.location = '/report/ts/' + assessment_id + '/'
                    + testset_id + '/' + student_user_id;
            });

            $('#view_explanation').on('click', function () {
                var url = $(this).data('url');
                $.get(url, function (data) {
                    $('#dataModalXL .modal-content').html(data);
                });
                $('#dataModalXL .modal-content').html("Loading... Try again if data not shown");
            });

            $('#dataModalXL').on('hidden.bs.modal', function (e) {
                $('#dataModalXL').modal('dispose');
            });
        });
    </script>
{% endblock %}
