{% extends "ui/assessments_base.html" %}
{% block title %}CSEdu Assessment System - Testset Management{% endblock %}
{% block app_content %}
 <style type="text/css">
    .score-summary {
         margin: 10px 0 10px 0;
    }
    .score-summary th, .score-summary td {
        padding:10px;
    }
    div.assessment-homework #testsets thead > tr > th.testset:not(:nth-child(2)),
    div.assessment-homework #testsets tbody > tr > td.testset:not(:nth-child(2)){
        padding-left: 40px !important;
    }
</style>
  <div class="assessment-list-header">
    <div class="{{ btn_group }} btn-group-toggle test-type-group d-inline-flex" data-toggle="buttons">
      <label class="btn {{ btn_all.class }} all {{ btn_all.active }}" {{ btn_all.display|safe }}>
        <input type="radio" name="type-options" value="all" autocomplete="off" {{ btn_all.checked }}> All
      </label>
      <label class="btn {{ btn_class.class }} class {{ btn_class.active }}" {{ btn_class.display|safe }}>
        <input type="radio" name="type-options" value="class" autocomplete="off" {{ btn_class.checked }}> Class Test
      </label>
      <label class="btn {{ btn_trial.class }} trial {{ btn_trial.active }}" {{ btn_trial.display|safe }}>
        <input type="radio" name="type-options" value="trial" autocomplete="off" {{ btn_trial.checked }}> Trial Test
      </label>
      <label class="btn {{ btn_homework.class }} homework {{ btn_homework.active }}" {{ btn_homework.display|safe }}>
        <input type="radio" name="type-options" value="homework" autocomplete="off" {{ btn_homework.checked }}> Homework
      </label>
    </div>
    <div class="float-right">
        <button type="button" id="report_error" class="btn btn-danger text-white">Online Help</button>
    </div>
  </div>
  {% if assessments_list|length==0 %}
    <div class="card">
        <div class="card-header"></div>
        <div class="card-body">There is no available assessment test.</div>
    </div>
  {% endif %}
  {% for key, assessments in assessments_list.items() %}
      <div class="accordion" id="accordion">
          <div class="card card-accent-info">
              <div class="card-header" id="headingOne">
                  <i class="icons cui-magnifying-glass"></i> {{ key }}
                  {% if assessments|length ==0 %}
                      (There is no available assessment test.)
                  {% endif %}
                  <div class="card-header-actions">
                      <a class="card-header-action btn-minimize" data-toggle="collapse" data-target="#collapseOne"
                         aria-expanded="false" aria-controls="collapseOne">
                          <i class="icon-arrow-up"></i>
                      </a>
                  </div>
              </div>
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion" style="overflow-x: auto">
                  {% if key == 'Homework' %}
                      {% if unit != None %}
                      {% if unit > 0 %}
                      <h5 class="card-title card-body">UNIT {{ unit }} </h5>
                      {% endif %}
                      {% endif %}
                      {% for assessment in assessments %}
                          <div class="card-body {{ assessment.first_assessment.assessment_type_class }}">
                              <div>
                              <h5 class="card-title">{{ assessment.name }}<small class="text-uppercase text-muted"> -{{ assessment.first_assessment.assessment_type_name }}</small></h5>

                                  {% if assessment['subjects'] and Codebook.get_code_name(assessment['first_assessment'].test_type)=='Online Selective' %}
                                  <div>
                                      <table class="table-bordered score-summary">
                                          <thead><tr bgcolor="#f5f5dc">
                                          <th>Subject</th>
                                          {% for tset in assessment['subjects'] %}
                                          <th>{{ Codebook.get_code_name(tset['name']) }}</th>
                                          {% endfor %}
                                          <th>Total</th></tr></thead>
                                          <tr>
                                          <td>Score(%)</td>
                                          {% set vars = {'total_amount': 0}  %}
                                          {% for tset in assessment['subjects'] %}
                                              {% for tlist in tset['list'] %}
                                                {% if vars.update({'total_amount': vars.total_amount + tlist.score}) %}{% endif %}
                                                <td>{{ tlist.score|round(1, 'floor') }} &nbsp;</td>
                                              {% endfor %}
                                          {% endfor %}
                                           <td>{{ vars.total_amount|round(1, 'floor') }}</td>
                                          </tr>
                                      </table>
                                  </div>
                              {% endif %}
                              </div>
                              <input type="hidden" id="student_user_id" value="{{ student_user_id }}">
                              <div class="row d-inline-block">
                                  <div class="col">
                                      <input type="hidden" name="assessment_guid" value="{{ assessment.first_assessment.GUID }}">
                                      <table id="testsets" class="display table table-hover" style="width:100%">
                                          <thead>
                                            <tr>

                                              <th></th>
                                              {% for sub_list in (range(assessment['header_count'])) %}
                                              <th class="testset">Test Set</th>
                                              <th>Status</th>
                                              <th>Report</th>
                                              <th align="center"><span class="btn btn-default"><i class="fa fa-microphone"></i></span></th>
                                              {% endfor %}

                                          </tr>

                                          </thead>
                                          <tbody>
                                          {% for sub in assessment.subjects %}
                                              <tr>
                                                    <td>
                                                      {{ Codebook.get_code_name(sub['name']) }}
                                                  </td>
                                                  {% for ts in sub['testsets'] %}
                                                    {% if loop.index <= assessment['header_count'] %}
                                                  <td class="testset">
                                                      {% if ts.enrolled and not ts.resumable %}
                                                          <input type="button" class="btn btn-light btn-block"
                                                                 data-testset-id="{{ ts.id }}" value="{{ ts.name }}"
                                                                 disabled>
                                                      {% else %}
                                                          <input type="button" class="btn btn-success btn-block"
                                                                 data-testset-id="{{ ts.id }}" value="{{ ts.name }}"
                                                                 disabled>
                                                      {% endif %}
                                                  </td>
                                                  <td>
                                                      {% if ts.enrolled %}
                                                          {% if ts.resumable %}
                                                              <input type="button"
                                                                     class="btn btn-primary btn-block resume"
                                                                     data-student-user-id="{{ student_user_id }}"
                                                                     data-assessment-guid="{{ ts.assessment_guid }}"
                                                                     data-testset-id="{{ ts.id }}"
                                                                     data-session-key="{{ ts.session_key }}"
                                                                     value="Resume">
                                                          {% elif ts.restartable %}
                                                            <input type="button" class="btn btn-primary btn-block start"
                                                                 data-student-user-id="{{ student_user_id }}"
                                                                 data-assessment-guid="{{ ts.assessment_guid }}"
                                                                 data-testset-id="{{ ts.id }}" value="Retry">
                                                          {% else %}
                                                              <input type="button" class="btn btn-secondary btn-block"
                                                                     value="Finished" disabled>
                                                          {% endif %}
                                                      {% else %}
                                                          {% if Codebook.get_code_name(ts.subject)=='Writing' and Codebook.get_code_name(ts.test_type)=='Selective' %}
                                                              <button class="btn btn-warning btn-block btn-instruction"
                                                                      onclick="window.open('https://tstm.csonlineschool.com.au/static/common/instructions/Writing%20submission%20guidelines.pdf','_blank')">
                                                                  Exam Instructions
                                                              </button>
                                                          {% elif Codebook.get_code_name(ts.test_type)=='Summative test' %}
                                                              {% if Codebook.get_code_name(ts.subject)=='Writing' %}
                                                                  <button class="btn btn-warning btn-block btn-instruction"
                                                                          onclick="window.open('https://tstm.csonlineschool.com.au/static/common/instructions/Class%20Test_Writing.pdf','_blank')">
                                                                      Exam Instructions
                                                                  </button>
                                                              {% else %}
                                                                  <button class="btn btn-warning btn-block btn-instruction"
                                                                          onclick="window.open('https://tstm.csonlineschool.com.au/static/common/instructions/Class%20Test_Multiple%20Choice.pdf','_blank')">
                                                                      Exam Instructions
                                                                  </button>
                                                              {% endif %}
                                                          {% elif Codebook.get_code_name(ts.test_type)=='Selective' %}
                                                              {% if Codebook.get_code_name(ts.subject)=='Writing' %}
                                                                  <button class="btn btn-warning btn-block btn-instruction"
                                                                          onclick="window.open('https://tstm.csonlineschool.com.au/static/common/instructions/Class%20Test_Writing.pdf','_blank')">
                                                                      Exam Instructions
                                                                  </button>
                                                              {% else %}
                                                                  <button class="btn btn-warning btn-block btn-instruction"
                                                                          onclick="window.open('https://tstm.csonlineschool.com.au/static/common/instructions/STT%20Mul_submission%20guide.pdf','_blank')">
                                                                      Exam Instructions
                                                                  </button>
                                                              {% endif %}
                                                          {% elif Codebook.get_code_name(ts.test_type)=='OC' or Codebook.get_code_name(ts.test_type)=='Extra OC'  %}
                                                              <button class="btn btn-warning btn-block btn-instruction"
                                                                      onclick="window.open('https://tstm.csonlineschool.com.au/static/common/instructions/OC%20submission%20guide.pdf','_blank')">
                                                                      Exam Instructions
                                                              </button>
                                                          {% endif %}
                                                          <input type="button" class="btn btn-primary btn-block start"
                                                                 data-student-user-id="{{ student_user_id }}"
                                                                 data-assessment-guid="{{ ts.assessment_guid }}"
                                                                 data-testset-id="{{ ts.id }}" value="Start">
                                                      {% endif %}
                                                  </td>

                                                      <td>
                                                        {% if ts.enable_report %}
                                                          {% if ts.enrolled and not ts.resumable %}
                                                              {% if Codebook.get_code_name(ts.subject)=='Writing' and not ts.enable_writing_report %}
                                                                  <input type="button" class="btn btn-secondary btn-block"
                                                                         value="Not Available" disabled>
                                                              {% else %}
                                                                {% if ts.report_type == 'report' %}
                                                                  <input type="button" class="btn btn-primary report"
                                                                         data-student-user-id="{{ student_user_id }}"
                                                                         data-assessment-id="{{ ts.assessment_id }}"
                                                                         data-assessment-guid="{{ ts.assessment_guid }}"
                                                                         data-testset-id="{{ ts.id }}"
                                                                         value="View Report">
                                                                {% else %}
                                                                  <input type="button" class="btn btn-primary error-note"
                                                                         data-assessment-enrol-id="{{ ts.enroll_id }}"
                                                                         value="View Report">
                                                                {% endif %}
                                                              {% endif %}
                                                          {% else %}
                                                              <input type="button" class="btn btn-secondary btn-block"
                                                                     value="Not Available" disabled>
                                                          {% endif %}
                                                       {% endif %}
                                                      </td>

                                                      <td>
                                                        {% if ts.enable_video %}
                                                          {% if ts.enrolled and not ts.resumable  and ts.explanation_link %}
                                                              <button class="btn btn-outline-danger" type="button"
                                                                     id="view_explanation_window"
                                                                     name="view_explanation_window"
                                                                     data-toggle="modal" data-target="#csmovieModal"
                                                                     data-testset-id="{{ ts.id }}"
                                                                     data-link="{{ ts.explanation_link }}">
                                                              <i class="fa fa-play" style="color: #FF7F6E"></i>
                                                              </button>
                                                          {% else %}
                                                              <button class="btn btn-outline-secondary btn-block"
                                                                      disabled><i
                                                                      class="fa fa-stop"></i></button>
                                                          {% endif %}
                                                        {% endif %}
                                                      </td>
                                                    {% endif %}
                                                  {% endfor %}
                                              </tr>
                                          {% endfor %}
                                          </tbody>
                                      </table>
                                  </div>
                                  <div class="col"></div>
                                  <div class="col"></div>
                              </div>
                          </div>
                      {% endfor %}

                  {% else %}
                        {% if key == 'Trial Test' and stt_count > 0 %}
                        <div class="alert alert-warning assessment-trial col-5 mt-3 ml-3">
                            <button id="report_sst" class="btn btn-warning" type="button" aria-pressed="true" >Selective Trial Test Summary Report</button>
                        </div>
                        {% endif %}
                      {% for assessment in assessments %}
                          <div class="card-body {{ assessment.assessment_type_class }}">
                              <div>
                              <h5 class="card-title">{{ assessment.name }}<small class="text-uppercase text-muted"> -{{ assessment.assessment_type_name }}</small></h5>

                                  {% if assessment.testsets and Codebook.get_code_name(assessment.testsets[0].test_type)=='Online Selective' %}
                                  <div>
                                      <table class="table-bordered score-summary">
                                          <thead><tr bgcolor="#f5f5dc">
                                          <th>Subject</th>
                                          {% for tset in assessment.testsets %}
                                          <th>{{ Codebook.get_code_name(tset.subject) }}</th>
                                          {% endfor %}
                                          <th>Total</th></tr></thead>
                                          <tr>
                                          <td>Score(%)</td>
                                          {% set vars = {'total_amount': 0}  %}
                                          {% for tset in assessment.testsets %}
                                             {% if vars.update({'total_amount': vars.total_amount + tset.score}) %}{% endif %}
                                          <td>{{ tset.score|round(1, 'floor') }} &nbsp;</td>
                                          {% endfor %}
                                           <td>{{ vars.total_amount|round(1, 'floor') }}</td>
                                          </tr>
                                      </table>
                                  </div>
                              {% endif %}
                              </div>
                              <input type="hidden" id="student_user_id" value="{{ student_user_id }}">
                              <div class="row">
                                  <div class="col">
                                      <input type="hidden" name="assessment_guid"
                                             value="{{ assessment.GUID }}">
                                      <table id="testsets" class="display table table-hover" style="width:100%">
                                          <thead>
                                          <tr>
                                              <th></th>
                                              <th>Test Set</th>
                                              <th>Status</th>
                                              {% if assessment.testsets and assessment.testsets[0].enable_report %}
                                                  <th>Report</th>
                                              {% endif %}
                                              {% if assessment.testsets and assessment.testsets[0].enable_video %}
                                                  <th align="center"><span class="btn btn-default"><i
                                                          class="fa fa-microphone"></i></span></th>
                                              {% endif %}
                                          </tr>
                                          </thead>
                                          <tbody>
                                          {% for ts in assessment.testsets %}
                                              <tr>
                                                  <td>
                                                      {{ loop.index }}
                                                  </td>
                                                  <td>
                                                      {% if ts.enrolled and not ts.resumable %}
                                                          <input type="button" class="btn btn-light btn-block"
                                                                 data-testset-id="{{ ts.id }}" value="{{ ts.name }}"
                                                                 disabled>
                                                      {% else %}
                                                          <input type="button" class="btn btn-success btn-block"
                                                                 data-testset-id="{{ ts.id }}" value="{{ ts.name }}"
                                                                 disabled>
                                                      {% endif %}
                                                  </td>
                                                  <td>
                                                      {% if ts.enrolled %}
                                                          {% if ts.resumable %}
                                                              <input type="button"
                                                                     class="btn btn-primary btn-block resume"
                                                                     data-student-user-id="{{ student_user_id }}"
                                                                     data-assessment-guid="{{ assessment.GUID }}"
                                                                     data-testset-id="{{ ts.id }}"
                                                                     data-session-key="{{ ts.session_key }}"
                                                                     value="Resume">
                                                          {% elif ts.restartable %}
                                                            <input type="button" class="btn btn-primary btn-block start"
                                                                 data-student-user-id="{{ student_user_id }}"
                                                                 data-assessment-guid="{{ assessment.GUID }}"
                                                                 data-testset-id="{{ ts.id }}" value="Retry">
                                                          {% else %}
                                                              <input type="button" class="btn btn-secondary btn-block"
                                                                     value="Finished" disabled>
                                                          {% endif %}
                                                      {% else %}
                                                          {% if Codebook.get_code_name(ts.subject)=='Writing' and Codebook.get_code_name(ts.test_type)=='Selective' %}
                                                              <button class="btn btn-warning btn-block btn-instruction"
                                                                      onclick="window.open('https://tstm.csonlineschool.com.au/static/common/instructions/Writing%20submission%20guidelines.pdf','_blank')">
                                                                  Exam Instructions
                                                              </button>
                                                          {% elif Codebook.get_code_name(ts.test_type)=='Summative test' %}
                                                              {% if Codebook.get_code_name(ts.subject)=='Writing' %}
                                                                  <button class="btn btn-warning btn-block btn-instruction"
                                                                          onclick="window.open('https://tstm.csonlineschool.com.au/static/common/instructions/Class%20Test_Writing.pdf','_blank')">
                                                                      Exam Instructions
                                                                  </button>
                                                              {% else %}
                                                                  <button class="btn btn-warning btn-block btn-instruction"
                                                                          onclick="window.open('https://tstm.csonlineschool.com.au/static/common/instructions/Class%20Test_Multiple%20Choice.pdf','_blank')">
                                                                      Exam Instructions
                                                                  </button>
                                                              {% endif %}
                                                          {% elif Codebook.get_code_name(ts.test_type)=='Selective' %}
                                                              {% if Codebook.get_code_name(ts.subject)=='Writing' %}
                                                                  <button class="btn btn-warning btn-block btn-instruction"
                                                                          onclick="window.open('https://tstm.csonlineschool.com.au/static/common/instructions/Class%20Test_Writing.pdf','_blank')">
                                                                      Exam Instructions
                                                                  </button>
                                                              {% else %}
                                                                  <button class="btn btn-warning btn-block btn-instruction"
                                                                          onclick="window.open('https://tstm.csonlineschool.com.au/static/common/instructions/STT%20Mul_submission%20guide.pdf','_blank')">
                                                                      Exam Instructions
                                                                  </button>
                                                              {% endif %}
                                                          {% elif Codebook.get_code_name(ts.test_type)=='OC' or Codebook.get_code_name(ts.test_type)=='Extra OC'  %}
                                                              <button class="btn btn-warning btn-block btn-instruction"
                                                                      onclick="window.open('https://tstm.csonlineschool.com.au/static/common/instructions/OC%20submission%20guide.pdf','_blank')">
                                                                      Exam Instructions
                                                              </button>
                                                          {% endif %}
                                                          <input type="button" class="btn btn-primary btn-block start"
                                                                 data-student-user-id="{{ student_user_id }}"
                                                                 data-assessment-guid="{{ assessment.GUID }}"
                                                                 data-testset-id="{{ ts.id }}" value="Start">
                                                      {% endif %}
                                                  </td>
                                                  {% if ts.enable_report %}
                                                      <td>
                                                          {% if ts.enrolled and not ts.resumable %}
                                                              {% if Codebook.get_code_name(ts.subject)=='Writing' and not ts.enable_writing_report %}
                                                                  <input type="button" class="btn btn-secondary btn-block"
                                                                         value="Not Available" disabled>
                                                              {% else %}
                                                                    {% if ts.report_type == 'report' %}
                                                                      <input type="button" class="btn btn-primary report"
                                                                             data-student-user-id="{{ student_user_id }}"
                                                                             data-assessment-id="{{ assessment.id }}"
                                                                             data-assessment-guid="{{ assessment.GUID }}"
                                                                             data-testset-id="{{ ts.id }}"
                                                                             value="View Report">
                                                                    {% else %}
                                                                      <input type="button" class="btn btn-primary error-note"
                                                                             data-assessment-enrol-id="{{ ts.enroll_id }}"
                                                                             value="View Report">
                                                                    {% endif %}
                                                              {% endif %}
                                                          {% else %}
                                                              <input type="button" class="btn btn-secondary btn-block"
                                                                     value="Not Available" disabled>
                                                          {% endif %}
                                                      </td>
                                                  {% endif %}
                                                  {% if ts.enable_video %}
                                                      <td>
                                                          {% if ts.enrolled and not ts.resumable  and ts.explanation_link %}
                                                              <button class="btn btn-outline-danger" type="button"
                                                                     id="view_explanation_window"
                                                                     name="view_explanation_window"
                                                                     data-toggle="modal" data-target="#csmovieModal"
                                                                     data-testset-id="{{ ts.id }}"
                                                                     data-link="{{ ts.explanation_link }}">
                                                              <i class="fa fa-play" style="color: #FF7F6E"></i>
                                                              </button>
                                                          {% else %}
                                                              <button class="btn btn-outline-secondary btn-block"
                                                                      disabled><i
                                                                      class="fa fa-stop"></i></button>
                                                          {% endif %}
                                                      </td>
                                                  {% endif %}
                                              </tr>
                                          {% endfor %}
                                          </tbody>
                                      </table>
                                  </div>
                                  <div class="col"></div>
                                  <div class="col"></div>
                              </div>
                          </div>
                      {% endfor %}
                  {% endif %}
              </div>
          </div>
      </div>
  {% endfor %}
    <div class="modal fade" id="reportingErrorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-error-report" role="document">
            <div class="modal-content bg-transparent">
                <div class="modal-header modal-header-primary figure">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Online Help</h4>
                </div>
                <div class="modal-body bg-white">
                    <h5>Please provide as much details as possible about what happened.</h5>
                    <div class="input-group pd-t3">
                        <div id="groupings" class="btn-group">
                            <a class="btn btn-primary active" data-toggle="grouping" data-title="class">Class Test</a>
                            <a class="btn btn-primary notActive" data-toggle="grouping" data-title="trial">Trial Test</a>
                            <a class="btn btn-primary notActive" data-toggle="grouping" data-title="homework">Homework</a>
                        </div>
                        <input type="hidden" name="grouping" id="grouping">
                    </div>
                    <div class="pd-t15">
                        <select id="reportAssessments" class="select-height form-control selectpicker"></select>
                    </div>
                    <div class="pd-t15">
                        <textarea class="form-control pd-t3" rows="10" id="error-description" placeholder="Description"></textarea>
                    </div>
                    <div class="pd-t15">
                        <input type="email" class="form-control" id="error-email" placeholder="Email">
                    </div>
                    <div class="pd-t15">
                    <label>
                        Your request may take up to 1-2 days. We will get in touch with you as soon as possible.
                    </label>
                    </div>
                </div>
                <div class="modal-footer bg-white">
                    <form method="POST" action="/auth/manage/delete">
                        <input type="hidden" name="user_id">
                        <button type="button" class="btn-secondary" id="reporting-cancel" data-dismiss="modal">Cancel</button>
                        <input type="button" class="btn btn-success" id="reporting" value="Send Report"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
  {% include "_modal.html" %}
{% endblock app_content %}
{% block scripts %}
    {{ super() }}
    <script src="/static/common/js/csedu_common.js"></script>
    <script>
        $(document).ready(function () {
            $('#report_sst').click(function(){
                $('#dataModalLabel').text('Selective Trial Test Summary Report');
                let html = '<h6>Student: {{ Student.getCSStudentName(current_user.id) }}</h6>';
                html += '<table class="table table-hover text-center">';
                html += '<thead>';
                html += '<tr style="background-color:lightyellow">';
                html += '<th scope="col">Title (Test No.)</th>';
                html += '<th scope="col">Maths R.</th>';
                html += '<th scope="col">Thinking</th>';
                html += '<th scope="col">Reading</th>';
                html += '<th scope="col">Writing</th>';
                html += '<th scope="col">Total</th>';
                html += '<th scope="col">Rank</th>';
                html += '</tr>';
                html += '</thead>';
                html += '<tbody class="table-group-divider"><tr><td colspan="7" class="text-center">';
                html += '<div class="spinner-border mt-4" role="status"></div>';
                html += '</tbody>';
                html += '</table>';
                html += '<small class="float-right">Total = Maths R. Skills (25%) + Thinking Skills (35%) + Reading Skills (25%) + Essay Writing (15%)</small>';
                $('#dataModal .modal-body').html(html).addClass('h5');
                $('#dataModal .modal-header').addClass('text-white').css("background-color", "#929fab");
                $('#dataModal .modal-dialog').removeClass('modal-lg').addClass('modal-xl');

                $('#dataModal').modal('show');

                $.ajax({
                    method: 'GET',
                    url: '/api/stt/summaryreport',
                    error: function(){
                        $('#dataModal .modal-body tbody').empty();
                    },
                    success: function (d) {
                        $('#dataModal .modal-body tbody').empty();
                        d.forEach(function (item) {
                            let tr = '<tr>';
                            tr += '<th scope="row">Selective Trial Test ('+item[0]+')</th>';
                            tr += '<td>'+(item[1]==null?'':item[1].trim())+'</td>';
                            tr += '<td>'+(item[2]==null?'':item[2].trim())+'</td>';
                            tr += '<td>'+(item[3]==null?'':item[3].trim())+'</td>';
                            tr += '<td>'+(item[4]==null?'':item[4].trim())+'</td>';
                            tr += '<td>'+(item[5]==null?'':item[5].trim())+'</td>';
                            tr += '<td>'+item[6].trim()+'/'+item[7].trim()+'</td>';
                            tr += '</tr>';
                            $('#dataModal .modal-body tbody').append(tr);
                        });
                    }
                });


            });

            $('#testsets input.start').on('click', function () {
                var assessment_guid = $(this).data('assessment-guid');
                var testset_id = $(this).data('testset-id');
                var student_user_id = $(this).data('student-user-id');
                window.location.replace('/testing?assessment=' + assessment_guid + '&testset_id='
                    + testset_id + '&student_user_id=' + student_user_id);
            });
            $('#testsets input.resume').on('click', function () {
                var session_key = $(this).data('session-key');
                $.ajax({
                    url: '/api/resume',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({session_key: session_key}),
                    complete: function () {
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        location.reload();
                    },
                    success: function (response) {
                        if (response.result === 'success') {
                            var rsp_data = response.data || {};
                            var session_key = rsp_data.session_key;
                            window.location.replace('/testing?session=' + session_key);
                        }
                    }
                });
            });

            $("#csmovieModal").on("show.bs.modal", function (event) {
                var button = $(event.relatedTarget) //Button that triggered the modal
                var explanation_link = button.data('link');
                $('#csmovie').attr('src', explanation_link);
            });

            $('#testsets input.report').on('click', function () {
                var assessment_guid = $(this).data('assessment-guid');
                var assessment_id = $(this).data('assessment-id');
                var testset_id = $(this).data('testset-id');
                var student_user_id = $(this).data('student-user-id');
                window.location = '/report/ts/' + assessment_id + '/'
                    + testset_id + '/' + student_user_id;
            });

            $('#testsets input.error-note').on('click', function () {
                var assessment_enroll_id = $(this).data('assessment-enrol-id');
                window.location = '/errnote/' + assessment_enroll_id;
            });

            $('input[type=radio][name=type-options]').on('change', function () {
              var app_body = $('.app-body.assessments');
              app_body.removeClass('homework');
              app_body.removeClass('class');
              app_body.removeClass('trial');
              app_body.addClass(this.value);
              var btns = $('.assessment-list-header label');
              for (var i=0; i<btns.length; i++) {
                if ($(btns[i]).hasClass(this.value)) {
                  $(btns[i]).removeClass('btn-light');
                  $(btns[i]).addClass('btn-primary');
                } else {
                  $(btns[i]).removeClass('btn-primary');
                  $(btns[i]).addClass('btn-light');
                }
              }
            });

            let reportAssessments;
            $('#report_error').click(function(){
                if(reportAssessments == undefined){
                    $.get({
                        url: '/tests/assessments/report',
                        method: 'GET',
                        contentType: 'application/json',
                        success: function (response) {
                            reportAssessments = response;
                            setReportAssessments('class');
                        }
                        ,error: function(XMLHttpRequest, textStatus, errorThrown) {
                        }
                    });
                }
                if(reportAssessments!=undefined){
                    $('#groupings a:first').click();
                    $('#error-description').val('');
                    $('#error-email').val('');
                }
                $('#reportingErrorModal').modal('show');
            });

            function setReportAssessments(tab){
                let reporttesting = $('#reportAssessments');
                reporttesting.empty();

                let optons = '';
                if(tab=='class'){
                    for(let i=0; i<reportAssessments.Class.length; i++){
                        optons += '<optgroup label="'+reportAssessments.Class[i].assessment_name+'">';
                        for(let j=0; j<reportAssessments.Class[i].testset.length; j++) {
                            optons += '<option value="'+reportAssessments.Class[i].testset[j].id+'">' + reportAssessments.Class[i].testset[j].testset_name + '</option>';
                        }
                    }
                }else if(tab=='trial'){
                    for(let i=0; i<reportAssessments.Trial.length; i++){
                        optons += '<optgroup label="'+reportAssessments.Trial[i].assessment_name+'">';
                        for(let j=0; j<reportAssessments.Trial[i].testset.length; j++) {
                            optons += '<option value="'+reportAssessments.Trial[i].testset[j].id+'">' + reportAssessments.Trial[i].testset[j].testset_name + '</option>';
                        }
                    }
                }else{
                    for(let i=0; i<reportAssessments.Homework.length; i++){
                        optons += '<optgroup label="'+reportAssessments.Homework[i].assessment_name+'">';
                        for(let j=0; j<reportAssessments.Homework[i].testset.length; j++) {
                            optons += '<option value="'+reportAssessments.Homework[i].testset[j].id+'">' + reportAssessments.Homework[i].testset[j].testset_name + '</option>';
                        }
                    }
                }
                reporttesting.html(optons);
            }

            $('#reporting').on('click', function(){
                if($('#reportAssessments').val()==null) return false;
                if($.trim($('#error-description').val())==''){
                    alert("Please fill in the description of the form");
                    $('#error-description').focus();
                    return false;
                }
                if($.trim($('#error-email').val())==''){
                    alert("Please fill in the email of the form");
                    $('#error-email').focus();
                    return false;
                }
                if(!isEmail($.trim($('#error-email').val()))){
                    alert("Please check the email address");
                    $('#error-email').focus();
                    return false;
                }

                $.post('/api/online/help/report',
                    { 'id': $('#reportAssessments').val(), 'desc': $.trim($('#error-description').val()), 'type': $('#groupings > a.active').text(), 'email': $.trim($('#error-email').val()) },
                    function(data, status, xhr) {
                        alert('Your message has been sent');
                        $('#reporting-cancel').click();
                    }).fail(function(jqxhr, settings, ex) {
                        alert('failed, ' + ex);
                    }
                );
            });

            $('#groupings a').on('click', function(){
                var sel = $(this).data('title');
                var tog = $(this).data('toggle');
                $('#'+tog).prop('value', sel);

                $('a[data-toggle="'+tog+'"]').not('[data-title="'+sel+'"]').removeClass('active').addClass('notActive');
                $('a[data-toggle="'+tog+'"][data-title="'+sel+'"]').removeClass('notActive').addClass('active');

                setReportAssessments($('#grouping').val());
            });

        });

        function isEmail(email) {
          var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
          return regex.test(email);
        }
    </script>
{% endblock %}