<!DOCTYPE html>
<html lang="en">
<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>CS Education</title>
    <!-- Icons-->
    <link href="/static/ui/vendors/@coreui/icons/css/coreui-icons.min.css" rel="stylesheet">
    <link href="/static/ui/vendors/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
    <link href="/static/ui/vendors/font-awesome/css/all.min.css" rel="stylesheet">
    <link href="/static/ui/vendors/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <!-- Main styles for this application-->
    <link href="/static/ui/css/style.css" rel="stylesheet">
    <link href="/static/ui/vendors/pace-progress/css/pace.min.css" rel="stylesheet">
</head>
<body>
    <div class="card">
        <div class="card-header"><i class="fas fa-laptop"></i><strong>Naplan Online Test - Explanation</strong>
            <span class="badge badge-info float-right">Video</span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <strong>Note: </strong><br> {{ note }} <br><br>
                    <button class="btn btn-outline-danger btn-sm" onclick="window.close()">Close</button>
                </div>
                <div class="col">
                    <iframe width="1200" height="700" src="{{ url }}" frameborder="0"></iframe><br>
                </div>
            </div>
        </div>
    </div>
</body>
</html>