<!DOCTYPE html>
<html lang="en">
<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>CS Education</title>
    <!-- Icons-->
    <link href="/static/ui/vendors/@coreui/icons/css/coreui-icons.min.css" rel="stylesheet">
    <link href="/static/ui/vendors/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
    <link href="/static/ui/vendors/font-awesome/css/all.min.css" rel="stylesheet">
    <link href="/static/ui/vendors/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <!-- Main styles for this application-->
    <link href="/static/ui/css/style.css" rel="stylesheet">
    <link href="/static/ui/vendors/pace-progress/css/pace.min.css" rel="stylesheet">
    <style type="text/css">
        .container > div {
            float: left;
        }
        .container > div:first-child{
            padding-right: 15px;
        }
        #questions {
            width: 80px;
            height: 30px;
        }
        .font85p {font-size: 85%}
    </style>
    <script src="/static/ui/vendors/jquery/js/jquery.min.js"></script>
    <script type="text/javascript">
        $(function(){
            if($(opener).length==0){
                $('#ques-body').hide();
                $('#dataModal div.badge').hide();
            }else{
                let test_type = '{{ test_type }}';
                let questions = $('#questions');
                $(opener.document).find("#review_item_id option").each(function () {
                    questions.append('<option value="' + $(this).val() + '"' + (this.selected ? ' selected="selected"' : '') + '>' + $(this).text() + '</option>');
                });

                questions.change(function () {
                    if ($(this).val() == '') {
                        $('#rendered_preview').html('Preview is not available');
                        $('.container .badge').hide();
                    } else {
                        $('.container .badge').show();
                        $('.badge span').text('');
                        $.post("/item/" + $(this).val() + "/review/" + test_type, {},
                            function (data, status) {
                                if (status == 'success') {
                                    $('.badge span').text(data.item.correct_answer);
                                    if (data.rendered_preview == null || data.rendered_preview == '') {
                                        $('#rendered_preview').html('Preview is not available');
                                    } else {
                                        $('#rendered_preview').html(data.rendered_preview);
                                    }
                                } else {
                                    $('#rendered_preview').html('');
                                    alert('Internal Server Error');
                                }
                            });
                    }
                });
            }
        });
    </script>
</head>
<body>
<div class="card card-accent-success">

    <div class="card-header" id="headingOne">
        <div class="container">
            {% if current_user.is_student() %}
            {% else %}
            <div id="ques-body">Question No. <select id="questions"></select></div>
            <h3><div class="badge badge-success font85p"><i class="fas fa-sun"></i> Answer: <span>{{ item.correct_answer }}</span></div></h3>
            {% endif %}
        </div>
    </div>
    <div class="card-body">
        <div id="rendered_preview">Preview not available</div>
    </div>
</div>
</body>
</html>