{% extends "ui/test_runner_base.html" %}

{% block title %}CSEdu Assessment System - Testset Management{% endblock %}
{% block app_content %}
  <input type="hidden" id="assessment_guid" name="assessment_guid" value="{{ assessment_guid }}">
  {% if session_id %}
    <div class="item-card">
      <div id="items_selected" class="display table table-hover" style="width:100%">
        <div class="item-header">
          <div class="header-timer">
            <span class="timer-display">
              <span class="hours">
                <span class="number">00</span>
                <span class="label">Hours</span>
              </span>
              <span class="colon number">:</span>
              <span class="minutes">
                <span class="number">00</span>
                <span class="label">Mins</span>
              </span>
              <span class="colon number last-min">:</span>
              <span class="seconds last-min">
                <span class="number">00</span>
                <span class="label">Secs</span>
              </span>
            </span>
          </div>
          <div class="header-center">
            <button class="header-summary">
					<span class="summary-text">
						<span class="summary-label">Question</span>
						<span class="summary-text-bold question-number"></span>
						<span class="summary-text-bold question-of d-none"> of </span>
						<span class="summary-text-bold question-total">  </span>
                        <i class="fas fa-th"></i>
					</span>
            </button>
          </div>
          <div class="header-tools">
            <div class="header-tools-protractor-btn"><img src="/static/ui/img/protractor_icon.png"/></div>
            <div class="tools-protractor"><img src="/static/ui/img/protractor.png"/></div>
            <div class="header-tools-ruler-btn"><img src="/static/ui/img/ruler_icon.png"/></div>
            <div class="tools-ruler"><img src="/static/ui/img/ruler.png"/></div>
            <div class="usage-info-button" style="display: none"><i class="fas fa-info-circle"></i></div>
          </div>
        </div>
        <div class="usage-info">
          <div id="effect" class="ui-widget-content ui-corner-all" style="display: none">
            <h3 class="ui-widget-header ui-corner-all" style="display: none"><i class="fas fa-info-circle"></i> Info</h3>
            <p class="message">
            </p>
          </div>
        </div>
        <div class="watermark">{{ current_user.username }}</div>
        <div class="item-container disable-select" spellcheck="false">
            <div class="fa-3x item-rendered-empty" style="margin: auto;padding: 4px">
             <i class="fas fa-spinner fa-spin"></i> <span> Getting ready.... Please wait.</span>
            </div>



        </div>
        <div class="summary-container" style="display:none;">
          <div class="question-summary-wrapper">
            <h1 class="">Progress summary</h1>
            <div class="question-filter">
              <div class="filter-btn-group filter-show-all">
                <button type="button" class="filter-btn all active" data-filter="all"><span>0</span>Show
                  all
                </button>
              </div>
              <div class="filter-btn-group filter-answered">
                <button type="button" class="filter-btn answered" data-filter="answered"><span>0</span>Answered
                </button>
              </div>
              <div class="filter-btn-group filter-answered">
                <button type="button" class="filter-btn not_answered" data-filter="not_answered">
                  <span>0</span>Not answered
                </button>
              </div>
              <div class="filter-btn-group filter-answered">
                <button type="button" class="filter-btn not_read" data-filter="not_read"><span>0</span>Not
                  read
                </button>
              </div>
              <div class="filter-btn-group filter-answered">
                <button type="button" class="filter-btn flagged" data-filter="flagged"><span>0</span>Flagged
                </button>
              </div>
            </div>
            <h1 class="ng-binding">Questions</h1>
            <p class="">Click a number to go to that question.</p>
            <div class="question-list-summary">

            </div>
          </div>
        </div>
        <div class="item-footer">
          <div class="footer-center"></div>
          <div class="navigator">
            <button class="footer-back-btn" style="display: none"><i class="fas fa-spinner fa-spin back-loading" style="display: none"></i><i class="fas fa-caret-left back-caret"></i>Back</button>
            <div class="footer-right-buttons">
              <button class="footer-flag-btn" disabled><span>Flag</span><i class="far fa-flag"></i></button>
              <button class="footer-next-btn" disabled>Next<i class="fas fa-spinner fa-spin next-loading" style="display: none"></i><i class="fas fa-caret-right next-caret"></i></button>
            </div>
            <div class="footer-right-buttons footer-finish" style="display: none">
              <button class="footer-finish-btn">Finish</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="stageModal" tabindex="-1" role="dialog" aria-labelledby="dataModalLabel"
           aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="dataModalLabel">Stage finished</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                      style="display: none">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Loading...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Review</button>
              <button type="button" class="btn btn-primary next-stage">Next stage</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="finishModal" tabindex="-1" role="dialog" aria-labelledby="dataModalLabel"
           aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="dataModalLabel">Finished</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                      style="display: none">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Loading...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Review</button>
              <button type="button" class="btn btn-primary finish-test">Confirm</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="timeoverModal" tabindex="-1" role="dialog" aria-labelledby="dataModalLabel"
           aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="dataModalLabel">The test is over.</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                      style="display: none">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Please click the Confirm button to return to test set.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary timeover-confirm">Confirm</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="print-notice-hidden">
      <h3 style="text-align: center;font-weight: bold">Agreement of Copyright Policy ©Copyright</h3><br>
      <span>This is a reminder that CS Education has the full copyright of all the educational material that students use while studying under CS Education’s guidance.With the move to Online Learning, CS Education finds it necessary to remind students and parents of their legal right to the complete copyright of all their material.This means that no student or parent has the right to copy and/or distribute any of CS Education’s material to anyone else either in print or in electronic form.Copyright holders exclusively  retain 5 basic rights:</span>
      <ol>
        <li>Right to Copy (even for personal use)</li>
        <li>Right to make any changed variations of</li>
        <li>Right to Distribute to anyone else</li>
        <li>Right to Display Publicly (for example on digital or social media)</li>
        <li>Right to Perform Publicly (related to musical or dramatic works)</li>
      </ol>
      <span>On the basis of the above, CS Education does not allow the downloading (of files or photos of any CS Education publication in electronic format.<br>Education reserves the right to take the following action, should they discover anyone violating their copyright</span>
      <ul>
        <li>the immediate cancellation of courses for which the perpetrator has registered without recourse to any refunds. AND/OR</li>
        <li>a fine of triple the amount the perpetrator has paid for the course for which they have registered.AND/OR</li>
        <li>measures that may result in legal action, should CS Education deem it appropriate.</li>
      </ul>
      <span>In order to avoid any such issues, CS Education is asking all parents, in good faith, to sign in agreement that they will, not in any way, pass on any of CS Education’s material to any third party, even for example as a favour to a friend.Please could you AND your child sign the form below as indicative of your agreement and acceptance of CS Education’s legal right to the copyright of all their material and return to CS Education.do hereby acknowledge my agreement not to copy or distribute CS Education’s academic material to any other person or group.</span><br>
    </div>
  {% else %}
    <input type="hidden" name="testset_id" value="{{ testset.id }}">
    <input type="hidden" name="student_user_id" value="{{ student_user_id }}">
    <input type="hidden" name="student_ip">

    <div class="item-card policy-notice">
      <div id="items_selected" class="display table table-hover" style="width:100%">
        <div class="item-header">
          <div class="header-timer">
				<span class="timer-display">
				</span>
          </div>
          <div class="header-center">
            {% if student_branch %}
              <button class="header-summary" disabled>
                {{ student_branch }}
              </button>
            {% endif %}
          </div>
          <div class="header-tools">
          </div>
        </div>
        <div class="item-container">
        </div>
        <div class="notice-container">
          <div class="notice start-notice">
            <h1 class="notice-title">{{ testset.name }}</h1>
            <div class="notice-info">
              <div class="notice-content">
                <h3 style="text-align: center;font-weight: bold">Agreement of Copyright Policy ©Copyright</h3><br>
                <span>This is a reminder that CS Education has the full copyright of all the educational material that students use while studying under CS Education’s guidance.With the move to Online Learning, CS Education finds it necessary to remind students and parents of their legal right to the complete copyright of all their material.This means that no student or parent has the right to copy and/or distribute any of CS Education’s material to anyone else either in print or in electronic form.Copyright holders exclusively  retain 5 basic rights:</span>
                <ol>
                  <li>Right to Copy (even for personal use)</li>
                  <li>Right to make any changed variations of</li>
                  <li>Right to Distribute to anyone else</li>
                  <li>Right to Display Publicly (for example on digital or social media)</li>
                  <li>Right to Perform Publicly (related to musical or dramatic works)</li>
                </ol>
                <span>On the basis of the above, CS Education does not allow the downloading (of files or photos of any CS Education publication in electronic format.<br>Education reserves the right to take the following action, should they discover anyone violating their copyright</span>
                <ul>
                  <li>the immediate cancellation of courses for which the perpetrator has registered without recourse to any refunds. AND/OR</li>
                  <li>a fine of triple the amount the perpetrator has paid for the course for which they have registered.AND/OR</li>
                  <li>measures that may result in legal action, should CS Education deem it appropriate.</li>
                </ul>
                <span>In order to avoid any such issues, CS Education is asking all parents, in good faith, to sign in agreement that they will, not in any way, pass on any of CS Education’s material to any third party, even for example as a favour to a friend.Please could you AND your child sign the form below as indicative of your agreement and acceptance of CS Education’s legal right to the copyright of all their material and return to CS Education.do hereby acknowledge my agreement not to copy or distribute CS Education’s academic material to any other person or group.</span><br>
              </div>
              <div class="notice-content-agree">
                <div style="color: #235d93;margin-top: 15px;font-weight: bold">
                  <span>I do hereby acknowledge my agreement not to copy or distribute CS Education’s academic material to any other person or group. </span><br>
                  <input type="checkbox" id="tnc_agree_checkbox">
                  <label for="tnc_agree_checkbox">I agree and proceed to the exam</label>
                </div>
                <div style="color: red;margin-top: 8px;font-weight: bold">
                  <span> * Please note that if you start this exam, you need to finish it. You can take a test only once. </span><br>
                </div>
              </div>
            </div>
            <footer>
            </footer>
          </div>
        </div>

        <div class="instruction-container" style="display: none">
            <div class="instruction-container-body"></div>
        </div>

        <div class="item-footer">
          <div class="footer-center">
            <button class="start-no-btn">No</button>
            <button class="start-yes-btn" disabled>Yes</button>
          </div>
          <div class="footer-center text-center" style="display: none">
            <button class="start-test-btn">Test</button>
          </div>
          <div class="navigator">
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="dataModalLabel"
             aria-hidden="true" data-backdrop="static">
    <input type="hidden" class="error-code" value="">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="dataModalLabel">Error</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                  style="display: none">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Please click the Okay button to return to test set.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary error-confirm">Okay</button>
        </div>
      </div>
    </div>
  </div>

{% endblock app_content %}
{% block scripts %}
  {{ super() }}
  <script src="/static/ui/vendors/jquery-ui-1.12.1/jquery-ui.min.js"></script>
  <script src="/static/ui/vendors/jquery-ui-rotatable/jquery.ui.rotatable.min.js"></script>
  <script src="/static/runner/js/item_handlers.js?v={{ runner_version }}"></script>
  <script src="/static/runner/js/item_runner.js?v={{ runner_version }}"></script>
  <script src="/static/runner/js/test_runner.js?v={{ runner_version }}"></script>
  <script src="/static/ui/vendors/mathjax/mml-chtml.js"></script>
  <script src="/static/ui/vendors/svg.js-2.7.1/svg.js"></script>
{#  <script src="{{ config.JWPLAYER_LIBRARY_URL }}"></script>#}

  <script type="text/javascript">
      $(document).ready(function () {
          {# fit to window height with contents size #}
          /*
          $('.item-card').css({'cssText':'height:' + String(window.innerHeight -3) + 'px !important'});
          $('.notice-info').css({'cssText':'min-height:' + String(window.innerHeight - 225) + 'px !important;max-height:' + String(window.innerHeight - 225) + 'px !important;'});
          $('.notice-content').css({'cssText':'max-height:' + String(window.innerHeight- 370) + 'px !important'});
          */
          {# assessment_session_id is used as a key to check
                 - the student came from testset list
                 - or pushed a refresh button.
           #}
          $.getJSON('https://api.ipify.org?format=jsonp&callback=?', function (data) {
              $('input[name="student_ip"]').val(data['ip']);
          });
          {% if session_id %}
              var options = {
                  session: "{{ session_id }}"
              };
              TestRunner.init($('.item-container'), options);
              TestRunner.startTest();
              $('.tools-ruler').hide();
              $('.tools-protractor').hide();
          {% else %}
              var student_user_id = $('input[name="student_user_id"]').val();
              var assessment_guid = $('input[name="assessment_guid"]').val();
              $('.start-yes-btn').on('click', function () {
                  if ($('#tnc_agree_checkbox').is(':checked') === false) return;
                  if("{{ instruction_grade }}".toLowerCase() === 'false'){
                    $('.start-test-btn').click();
                    return;
                  }
                  let v= Math.random().toString(36).substr(2, 5);
                  $.post('/api/errorrun/instruction',{'assessment_guid': assessment_guid, 'testset_id': $('input[name="testset_id"]').val()},
                    function(data, status, xhr) {
                      if(data.data.instruction==undefined){
                        $('.start-test-btn').click();
                      }else{
                          let inst_question_count = data.data.question_count;
                          let inst_assessment_name = data.data.assessment_name;
                          let inst_duration = data.data.duration;
                          let inst_subjects = '';
                          let subjects = data.data.subjects;
                          for(let i=0; i<subjects.length;i++){
                              for (let key in subjects[i]) {
                                  inst_subjects += '<li>' + key + ' : ' + subjects[i][key] + ' question' + (subjects[i][key]>1?'s':'') + '</li>';
                               }
                          }
                          $.ajax({url: "/static/errornote/html/instructions/"+data.data.instruction+".html?v="+v}).done(function(data) {
                            let container = $('.instruction-container');
                            let body = $('.instruction-container-body');
                            $('.notice-container').hide();
                            body.html(data);
                            if($('#inst_question_count').length>0) $('#inst_question_count').text(inst_question_count);
                            if($('#inst_assessment_name').length>0) $('#inst_assessment_name').text(inst_assessment_name);
                            if($('#inst_duration').length>0) $('#inst_duration').text(inst_duration);
                            if($('#inst_subjects').length>0) $('#inst_subjects').html(inst_subjects);
                            container.fadeIn('slow');
                            let footer = $('.item-footer').children('div');
                            footer.eq(0).hide();
                            footer.eq(1).show();
                          });
                      }
                    }).fail(function(jqxhr, settings, ex) {
                        alert('failed, ' + ex);
                    }
                  );

              });
              $('.start-no-btn').on('click', function () {
                  window.location.replace("/tests/assessments?guid_list=" + assessment_guid)
              });
              $('#tnc_agree_checkbox').on('click', function () {
                  if ($(this).is(':checked')) {
                      $('.start-yes-btn').attr('disabled', false);
                  } else {
                      $('.start-yes-btn').attr('disabled', true);
                  }
              });
              $('.start-test-btn').on('click', function () {
                  var options = {
                      assessment_guid: assessment_guid,
                      testset_id: $('input[name="testset_id"]').val(),
                      student_user_id: student_user_id,
                      tnc_agree_checked: true,
                      session_cb: function (session_id) {
                          window.location.replace("/testing?session=" + session_id);
                      }
                  };
                  TestRunner.init($('.item-container'), options);
              });
          {% endif %}
      });
  </script>
{% endblock %}