{% extends "ui/testsets_base.html" %}

{% block title %}CSEdu Assessment System - Testset Management{% endblock %}
{% block app_content %}

    <h3><i class="icons cui-laptop" style="color: #339af0;"></i> CS Education - Writing Marking </h3>
    <div class="row">
        <div class="col">
            <div class="card card-accent-info">
                <div class="card-header">
                    <h5 class="card-title">Test List</h5>
                </div>
                <div class="card-body">
                    <div class="div_writing_items">
                    <table id="w_table" class="display table table-hover" style="width:100%;">
                        <thead>
                        <tr>
                            <th>Assessment Name</th>
                            <th>Student Name</th>
                            <th>Enroll Id</th>
{#                            <th>Testset Name</th>#}
                            <th>Test_time</th>
{#                            <th>Item Id</th>#}
                            <th>marking_id</th>
                            <th>WritingFile?</th>
                            <th>Marked?</th>
                            <th>Links</th>
                        </tr>
                        </thead>

                        <tbody id="w_table_body">
                        {% for writing in marking_writing_list %}
                        <tr>
                            <td> {{ writing.assessment_name }} </td>
                            <td> {{ writing.student_user_name }} </td>
                            <td> {{ writing.assessment_enroll_id }} </td>
{#                            <td> {{ writing.testset_name }} </td>#}
                            <td> {{ writing.start_time.strftime('%Y-%m-%d %H:%M:%S') }} </td>
{#                            <td> {{ writing.item_id }} </td>#}
                            <td> {{ writing.marking_id }} </td>
                            <td> {{ writing.is_candidate_file }} </td>
                            <td> {{ writing.is_marked }} </td>
                            <td>
                                <span class="btn btn-light btn-square btn-sm" data-toggle="tooltip"
                                      data-placement="top" data-original-title="link to marking"
                                      title="link to marking">
                                    <a href="{{ url_for('writing.marking', marking_writing_id=writing.marking_writing_id, student_user_id=writing.student_user_id) }}" target="_blank"><i class="fas fa-pen-nib" style="color: red;"></i></a>
                                </span>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock app_content %}

