`{% extends "ui/testsets_base.html" %}

{% block title %}CSEdu Assessment System - Testset Management{% endblock %}
{%- block styles %}
    {{ super() }}
    <link href="/static/ui/css/tab.css" rel="stylesheet">
    <style type="text/css">
        .app-header, .app-footer {
            display: inherit !important;
        }
        .main {
            margin-left: 0px !important;
        }
        .navbar-brand, .sidebar-toggler {
            display: none !important;
        }
    </style>
{%- endblock styles %}
{%- block scripts %}
    {{ super() }}
    <script src="/static/ui/js/tab.js"></script>
    <script src="/static/writing/js/marking_list.js?ver=2022101801"></script>
    <script type="text/javascript">
        $(function(){
            let marker_name = $('#marker_name');
            if(marker_name != undefined && marker_name != null){
                for(let i=0; i<marker_name.find('option[value="0"]').length; i++){
                    $(marker_name.find('option[value="0"]').get(i)).attr('disabled', true);
                }
            }
        });
    </script>
{%- endblock scripts %}
{% block app_content %}
    <h3><i class="icons cui-laptop" style="color: #339af0;"></i> CS Education - Writing Marking </h3>
    <div class="row">
        <div class="col">
            <div class="card card-accent-info">
                <div class="card-header">
                    <h5 class="card-title">Test List</h5>
                </div>
                <form method="GET" class="form inline" role="form" style="padding:1rem" onsubmit="return validateForm()">
                <div class="tab" style="display:none">
                    <input id="tab1" type="radio" name="tabs" value="1"{% if tabs=='1' %} checked{% endif %}> <!--디폴트 메뉴-->
                    <label for="tab1">the Search by Assessment Info.</label>
                    <input id="tab2" type="radio" name="tabs" value="2"{% if tabs=='2' %} checked{% endif %}>
                    <label for="tab2">the Search by Assessment</label>
                    <section></section>
                </div>
                {% if current_user.is_administrator() %}<div class="marker-area form-check">{{ form.marker_name.label }} {{ form.marker_name }}</div>{% endif %}
                <div class="card-body">
                    <div id="tab1-contents" class="callout callout-info b-t-1 b-r-1 b-b-1"{% if tabs=='2' %} hidden="hidden"{% endif %}>
                            {{ form.assessment_name.label }}
                            {{ form.assessment_name }}
                            {{ form.grade.label }}
                            {{ form.grade }}
                            {{ form.marked.label }}
                            {{ form.marked }}
                            {{ form.submit(class="btn btn-info btn-sm text-white", id="btn_search") }}
                    </div>
                    <div id="tab2-contents" class="callout callout-info b-t-1 b-r-1 b-b-1"{% if tabs=='1' %} hidden="hidden"{% endif %}>
                            {{ form.year.label }}
                            {{ form.year }}
                            {{ form.test_type.label }}
                            {{ form.test_type }}
                            <hr>
                            {{ form.assessment.label }}
                            {{ form.assessment }}
                            {{ form.submit(class="btn btn-info btn-sm text-white", id="btn_search1") }}
                    </div>
                    <div class="div_writing_items">

                    <div class="form-group">
                        <div class="form-check float-right">
                          <input class="form-check-input" type="checkbox" id="apply_download">
                          <label class="form-check-label" for="apply_download">
                            The Application for the Download
                          </label>
                        </div>
                    </div>
                    <table id="w_table" class="display table table-hover" style="padding-top:10px;width:100%;">
                        <thead>
                        <tr>
                            <th>Assessment Name</th>
                            <th>Student Name</th>
                            <th>Enroll Id</th>
{#                            <th>Testset Name</th>#}
                            <th>Test_time</th>
{#                            <th>Item Id</th>#}
                            <th>marking_id</th>
                            <th>WritingFile</th>
                            <th>Marked</th>
                            <th>download</th>
                            <th>Links</th>
                        </tr>
                        </thead>

                        <tbody id="w_table_body">
                        {% for writing in marking_writing_list %}
                        <tr{% if writing.is_marked=='N' %} class="table-danger"{% endif %}>
                            <td> {{ writing.assessment_name }} </td>
                            <td> {{ writing.student_user_name }} </td>
                            <td> {{ writing.assessment_enroll_id }} </td>
{#                            <td> {{ writing.testset_name }} </td>#}
                            <td> {{ writing.start_time.strftime('%Y-%m-%d %H:%M:%S') }} </td>
{#                            <td> {{ writing.item_id }} </td>#}
                            <td> {{ writing.marking_id }} </td>
                            <td> {{ writing.is_candidate_file }} </td>
                            <td> {{ writing.is_marked }} </td>
                            <td>
                                {% if writing.web_img_links_writing|length > 1 %}
                                <a name="download1" class="badge badge-primary" data-marking_writing_id="{{ writing.marking_writing_id }}" href="/writing/writing_marking_list/download/{{ writing.marking_writing_id }}/{{ writing.student_user_id }}">zip</a>
                                {% else %}
                                {% for lnk in writing.web_img_links_writing %}
                                <span class="btn btn-light btn-square btn-sm" data-toggle="tooltip"
                                      data-placement="top" data-original-title="file download"
                                      title="file download">
                                    <a name="download2" href="{{ lnk }}" data-marking_writing_id="{{ writing.marking_writing_id }}" download="writing_{{ writing.marking_writing_id }}_{{ writing.student_id }}{{ lnk[lnk.rfind('.'):] }}"><i class="fas fa-file-download" style="color: #ff0000;"></i></a>
                                </span>
                                {% endfor %}
                                {% endif %}
                                {% if writing.downloaded %}
                                    <div name="download_mark" class="d-inline-block">
                                    <i class="fas fa-check"></i>
                                    </div>
                                {% endif %}
                                {% if writing.is_candidate_file == 'N' %}
                                    <input type="file" style="display:none;" data-writing-id="{{ writing.marking_id }}" data-student-user-id="{{ writing.student_user_id }}" data-marking-writing-id="{{ writing.marking_writing_id }}" data-student-id="{{ writing.student_id }}" multiple >
                                    <button type="button" class="btn btn-primary btn-sm">upload</button>
                                {% endif %}
                            </td>
                            <td>
                                <span class="btn btn-light btn-square btn-sm" data-toggle="tooltip"
                                      data-placement="top" data-original-title="link to marking"
                                      title="link to marking">
                                    <a href="{{ url_for('writing.marking', marking_writing_id=writing.marking_writing_id, student_user_id=writing.student_user_id) }}" target="_blank"><i class="fas fa-pen-nib" style="color: #ff0000;"></i></a>
                                </span>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
{% endblock app_content %}
