{% extends "ui/testsets_base.html" %}

{% block title %}CSEdu Assessment System - Testset Management{% endblock %}
{% block app_content %}

    <h3><i class="icons cui-laptop" style="color: #339af0;"></i> CS Education - Writing Marking </h3>
    <div class="row">
        <div class="col">
            <div class="card card-accent-info">
                <div class="card-header">
                    <h5 class="card-title">Test List</h5>
                </div>
                <div class="card-body">
                    <div class="callout callout-info b-t-1 b-r-1 b-b-1">
                        <form method="GET" class="form inline" role="form" style="padding:1rem">
                            {{ form.assessment_name.label }}
                            {{ form.assessment_name }}
                            {{ form.grade.label }}
                            {{ form.grade }}
                            {{ form.submit(class="btn btn-info btn-sm text-white", id="btn_search") }}
                        </form>
                    </div>
                    <div class="div_writing_items">
                    <table id="w_table" class="display table table-hover" style="width:100%;">
                        <thead>
                        <tr>
                            <th>Assessment Name</th>
                            <th>Student Name</th>
                            <th>Enroll Id</th>
{#                            <th>Testset Name</th>#}
                            <th>Test_time</th>
{#                            <th>Item Id</th>#}
                            <th>marking_id</th>
                            <th>WritingFile?</th>
                            <th>Marked?</th>
                            <th>download</th>
                            <th>Links</th>
                        </tr>
                        </thead>

                        <tbody id="w_table_body">
                        {% for writing in marking_writing_list %}
                        <tr{% if writing.is_marked=='N' %} class="table-danger"{% endif %}>
                            <td> {{ writing.assessment_name }} </td>
                            <td> {{ writing.student_user_name }} </td>
                            <td> {{ writing.assessment_enroll_id }} </td>
{#                            <td> {{ writing.testset_name }} </td>#}
                            <td> {{ writing.start_time.strftime('%Y-%m-%d %H:%M:%S') }} </td>
{#                            <td> {{ writing.item_id }} </td>#}
                            <td> {{ writing.marking_id }} </td>
                            <td> {{ writing.is_candidate_file }} </td>
                            <td> {{ writing.is_marked }} </td>
                            <td>
                                <span class="btn btn-light btn-square btn-sm" data-toggle="tooltip"
                                      data-placement="top" data-original-title="file download"
                                      title="file download">
                                    <a onclick="javascript:candatefileDownload(this, {{ writing.marking_writing_id }},{{ writing.student_user_id }})"><i class="fas fa-file-download" style="color: red;"></i></a>
                                </span>
                            </td>
                            <td>
                                <span class="btn btn-light btn-square btn-sm" data-toggle="tooltip"
                                      data-placement="top" data-original-title="link to marking"
                                      title="link to marking">
                                    <a href="{{ url_for('writing.marking', marking_writing_id=writing.marking_writing_id, student_user_id=writing.student_user_id) }}" target="_blank"><i class="fas fa-pen-nib" style="color: red;"></i></a>
                                </span>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="filedownload" class="print-notice-hidden">
        <a href="" download>download</a>
    </div>
{% endblock app_content %}
{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        function candatefileDownload(obj, marking_writing_id, student_user_id){
            $.get("/writing/marking_onscreen/"+marking_writing_id+"/"+student_user_id, function(data) {
              for(let i=1; i<10; i++){
                if(data['file'+i] == undefined) break;
                //$(obj).removeAttr("onclick");
                  debugger
                let a = $('#filedownload > a');
                a.attr("href", data['file1'].writing);
                a.click();
                window.open(data['file1'].writing, '_self');
                //downloadURI(data['file1'].writing, data['file1'].writing.substring(data['file1'].writing.lastIndexOf('/')+1));//downloadURI(data['file1'].writing, 'aaa');
                //$('#filedownload > a').attr({target: '_blank', href  : data['file1'].writing});
              }
            });
        }

        function downloadURI(uri, name)
        {
            var link = document.createElement("a");
            // If you don't know the name or want to use
            // the webserver default set name = ''
            link.setAttribute('download', name);
            link.href = uri;
            document.body.appendChild(link);
            link.click();
            link.remove();
        }
    </script>
{% endblock scripts %}