{% extends "ui/ui_base.html" %}
{% block title %}CSEdu Assessment System - Testset Management{% endblock %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="/static/csedu_style.css">
{% endblock %}
{% block app_content %}
    <h3><i class="icons cui-envelope-letter font-2xl" style="color: #339af0;"></i> Marking for Assessment- Writing  </h3>
    <div class="accordion" id="accordion">
        <div class="card card-accent-success">
            <div class="card-header" id="headingOne">
                <i class="icons cui-magnifying-glass"></i> Search Condition
                <div class="card-header-actions">
                    <a class="card-header-action btn-minimize" data-toggle="collapse" data-target="#collapseOne"
                       aria-expanded="false" aria-controls="collapseOne">
                        <i class="icon-arrow-up"></i>
                    </a>
                </div>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    Search Assessments. Choose one of Student and click on the [Search Writings] button. <br>
                    <div class="callout callout-success b-t-1 b-r-1 b-b-1">
                        <p id="search_panel">
                        <small class="text-muted"> Assessment Search</small>
                        <br>
                        <form method="GET" class="form inline" role="form">
                            {{ form.assessment_name.label }}
                            {{ form.assessment_name }}
                            {{ form.year.label }}
                            {{ form.year }}
                            {{ form.test_type.label }}
                            {{ form.test_type }}
                            {{ form.test_center.label }}
                            {{ form.test_center }}
                            <button type="submit" class="btn btn-success btn-sm" id="btn_search">Search</button>
                            &nbsp;&nbsp;&nbsp;
                            {% if current_user.can(Permission.ADMIN) %}
                                <span class="btn btn-sm btn-outline-dark" data-toggle="modal" data-target="#confirm-generate">Refresh Collected Report Data</span><br><br>
                            {% endif %}
                        </form>
                        <p/>
                        <div id="status" class="alert alert-success" role="alert"></div>
                    </div>
                    <table class="display table table-hover" style="width:100%">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Year</th>
                            <th>Test Type</th>
                            <th>Test Name</th>
                            <th>Test Centre</th>
                            {% if current_user.can(Permission.WRITING_MANAGE) %}
                                <th>Marker Assigned</th>
                            {% endif %}
                            {% if current_user.can(Permission.WRITING_MANAGE) or current_user.can(Permission.WRITING_READ) %}
                                <th>Student ID</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% if assessments %}
                            {% for w in assessments %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td class="a_year" id="{{ w.year }}"> {{ w.year }}</td>
                                <td class="a_type"
                                    id="{{ w.test_type }}"> {{ Codebook.get_code_name(w.test_type) }}</td>
                                <td class="a_name" id="{{ w.name }}"> {{ w.name }} : {{ w.testset_name }}</td>
                                <td class="a_test_center" id="{{ w.test_center }}"> {{ Codebook.get_code_name(w.test_center) }}</td>
                                {% if current_user.can(Permission.WRITING_MANAGE) %}
                                    <td>
                                        <a name="modalButtonAssign"
                                        href="{{ url_for('writing.assign', assessment_guid=w.assessment_guid) }}" data-toggle="modal"
                                        data-target="#dataModalMedium"> <i class="icons cui-user-follow"></i> </a>
                                       {% for marker in w.markers %}
                                           {{ User.getUserName(marker) }}
                                           {% if loop.index!=w.markers|length %},{% endif %}
                                       {% endfor %}
                                    </td>
                                {% endif %}
                                {% if current_user.can(Permission.WRITING_MANAGE) or current_user.can(Permission.WRITING_READ) %}
                                    <td>
                                        <select id="select_student_{{ loop.index }}">
                                        {% for student in w.students %}
                                            <option value="{{ student }}">{{ Student.getCSStudentName(student)}}</option>
                                        {% endfor %}
                                        </select>
                                        <span class="badge badge-warning" href="" name="search_item" id="search_item"
                                                                           onclick="searchWritings('{{ w.assessment_guid }}',{{ loop.index }},{{ w.testset_id }})"> Search Writings </span>
                                    </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="10"> No Data Found. </td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion" id="accordion">
        <div class="card card-accent-info">
            <div class="card-header" id="headingTwo">
                <i class="icons cui-list"></i> Writing Item List
                <div class="card-header-actions">
                    <a class="card-header-action btn-minimize" data-toggle="collapse" data-target="#collapseTwo"
                       aria-expanded="false" aria-controls="collapseTwo">
                        <i class="icon-arrow-up"></i>
                    </a>
                </div>
            </div>
            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <div class="div_writing_items">
                    <table id="w_table" class="display table table-hover" style="width:100%;">
                        <thead>
                        <tr>
                            <th>Enroll Id</th>
                            <th>Assessment Name</th>
                            <th>Test_time</th>
                            <th>Item</th>
                            <th>marking_id</th>
                            <th>WritingFile?</th>
                            <th>Marked?</th>
                            <th>Links</th>
                        </tr>
                        </thead>

                        <tbody id="w_table_body">
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="confirm-generate" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">
                        Refresh Collected Report Data
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="modal-text">
                        Are you sure to generate data for Report ?
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-danger danger" data-dismiss="modal" data-toggle="modal"
                            onclick="gen_report('confirm-generate');">Generate
                    </button>
                </div>
            </div>
        </div>
    </div>
    {% include "_modal.html" %}
{% endblock app_content %}
{% block scripts %}
    {{ super() }}
    <script src="/static/common/js/csedu_common.js"></script>
    <script src="/static/writing/js/manage.js"></script>
    <script src="/static/runner/js/item_runner.js"></script>
    <script src="/static/runner/js/item_handlers.js"></script>
    <script src="/static/ui/vendors/mathjax/mml-chtml.js"></script>
{% endblock scripts %}
