{% extends "ui/testsets_base.html" %}
{% block title %}CSEdu Assessment System - Testset Management{% endblock %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="/static/csedu_style.css">
{% endblock %}
{% block app_content %}
<div class="card card-accent-info">
    <div class="card-header"><i class="fas fa-pencil-alt" style="color: #339af0;"></i><strong>Marking</strong>

    </div>
    <div class="card-body">
        <h1><span class="badge badge-danger">Writing for marking data not available</span></h1>
    </div>
</div>
{% endblock app_content %}
{% block scripts %}
    {{ super() }}
    <script src="/static/common/js/csedu_common.js"></script>
    <script src="/static/writing/js/manage.js"></script>
    <script src="/static/runner/js/item_runner.js"></script>
    <script src="/static/runner/js/item_handlers.js"></script>
    <script src="/static/ui/vendors/mathjax/mml-chtml.js"></script>
{% endblock scripts %}



