{% extends "ui/ui_base.html" %}
{% block title %}CSEdu Assessment System - Testset Management{% endblock %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="/static/csedu_style.css">
{% endblock %}
{% block app_content %}
<form action="{{ url_for('writing.marking_edit') }}" id="marking_form" method="POST" class="form" role="form">
    <div class="card card-accent-info">
        <div class="card-header"><i class="fas fa-pencil-alt" style="color: #339af0;"></i><strong>Marking</strong>
            <span class="badge badge-info float-right">Marking of Student Writing</span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-9">
                    <table>
                        {{ form.hidden_tag() }}
                        <tr>
                            <th> Student ID </th>
                            <td> {{ Student.getCSStudentId(form.student_id.data) }}  </td>
                        </tr>
                        <tr>
                            <th> Student Name </th>
                            <td> {{ Student.getCSStudentName(form.student_id.data) }}  </td>
                        </tr>
                        <tr>
                            <th> Student's Writing </th>
                            <td><img src="{{ web_img_link }}" alt="Student's Writing Img" width="70">   </td>
                        </tr>
                        <tr>
                            <th> Teacher's Marking </th>
                            <td> {% if web_markers_img_link %}
                                <img src="{{ web_markers_img_link }}"  alt="Teacher's Marking Img" width="70">
                                {% else %} -
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>{{ form.markers_comment.label }}</th>
                            <td>{{ form.markers_comment(rows="8", cols="70") }}   </td>
                        </tr>
                        </tr>
                    </table>
                </div>
                <div class="col-3">
                    <table id="weight_mapping">
                        <tbody>
                        <tr>
                            <th>Criteria</th>
                            <th>Mark</th>
                        </tr>
                        {% for criteria_form in form.markings %}
                            <tr>
                                <td> {{ criteria_form.criteria(size="3", readonly=True) }}</td>
                                <td> {{ criteria_form.marking(size="4", pattern="[0-9].[0-9]") }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div>{{ form.submit(class="btn btn-danger btn-sm", id="basic_info", value="Submit") }}
                <button type="reset" class="btn btn-outline-danger btn-sm">Cancel</button>
            </div>
        </div>
    </div>
</form>


{% endblock app_content %}
{% block scripts %}
    {{ super() }}
    <script src="/static/common/js/csedu_common.js"></script>
    <script src="/static/writing/js/manage.js"></script>
{% endblock scripts %}