<!DOCTYPE html>
<html lang="en">
<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>CS Education</title>
    <!-- Icons-->
    <link href="/static/ui/vendors/@coreui/icons/css/coreui-icons.min.css" rel="stylesheet">
    <link href="/static/ui/vendors/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
    <link href="/static/ui/vendors/font-awesome/css/all.min.css" rel="stylesheet">
    <link href="/static/ui/vendors/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <!-- Main styles for this application-->
    <link href="/static/runner/css/test_runner.css" rel="stylesheet">
    <link href="/static/ui/css/style.css" rel="stylesheet">
    <link href="/static/ui/vendors/pace-progress/css/pace.min.css" rel="stylesheet">
    <!-- Slide for writings -->
    <link href="/static/ui/vendors/bxslider-4-4.2.12/dist/jquery.bxslider.min.css" rel="stylesheet">

    <style>
        #t_header th {
            width: 85%;
            text-align: center;
        }

        #t_header td {
            width: 15%;
            text-align: right;
        }

        #t_student_info th {
            width: 15%;
            text-align: center;
            border: 1px solid #0f0f0f;
        }

        #t_student_info td {
            width: 35%;
            text-align: left;
            border: 1px solid #0f0f0f;
            padding: 5px;
        }

        textarea {
            font-size: large;
        }
    </style>
</head>
<body>

<div class="container">
    <br><br>
    <div class="card">
        <div class="card-header">
            <table style="width:100%" id="t_header">
                <tr>
                    <th colspan="3">
                        <h1 style="color:#397e38"> {{ assessment_name }} </h1>
                    </th>
                    <td>
                        <img src="/static/ui/img/CSEducation.png" width="150" height="20" alt="CSEdu Logo">
                        <button id="rewrite_button" class="badge badge-danger" name="Rewrite">
                            Rewrite
                        </button>
                        {% if pdf_url %}
                            <a class="badge badge-primary" href="{{ pdf_url }}">PDF</a>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
        <div class="card-body">
            <table style="width:100%" id="t_student_info">
                <tr>
                    <th> Student Name:</th>
                    <td> {{ student.username }} </td>
                    <th> Rank:</th>
                    <td> {{ rank }} </td>
                </tr>
                <tr>
                    <th> Student ID:</th>
                    <td> {{ Student.getCSStudentId(student.id) }}</td>
                    <th> Assessment Score:</th>
                    <td> {{ score }} </td>
                </tr>
                <tr>
                    <th> Grade:</th>
                    <td> {{ grade }}</td>
                    <th> Test Date:</th>
                    <td> {{ test_date }}.</td>
                </tr>
            </table>
            <br><br>
            {% for marking_writing in marking_writings %}
                <h4>[ Item : {{ marking_writing.item_name }}]</h4>
                {% if marking_writing.candidate_mark_detail %}
                    <table class="table table-hover" style="width:100%">
                        <thead>
                        <tr class="table-warning">
                            <th align="center">Mark Criteria</th>
                            <th align="center">Mark</th>
                            <th align="center">Mark Criteria</th>
                            <th align="center">Mark</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for marking in marking_writing.candidate_mark_detail %}
                            {% if loop.index%2 != 0 %}
                                <tr>
                            {% endif %}
                        <td>{{ marking }}</td>
                        <td>{{ marking_writing.candidate_mark_detail[marking] }}</td>
                        {% if loop.index%2 == 0 %}
                            </tr>
                        {% endif %}
                        {% endfor %}
                        <tr class="table-warning">
                            <th align="center" colspan="4">Marker's comment</th>
                        </tr>
                        <tr>
                            <td colspan="4">
                                {{ marking_writing.markers_comment }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <div class="bxslider">
                                    {% for image in marking_writing.marked_images %}
                                        <div><img src="{{ image }}{{ '?' ~ now  | replace(" ", "") }}"></div>
                                    {% endfor %}
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                {% else %}
                    <table class="table table-hover" style="width:100%">
                        <tr class="table-warning">
                            <td>The wrining hasn't been marked yet</td>
                        </tr>
                    </table>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <br>
    <br>
</div>
<!-- Modal -->
<div class="modal fade" id="dataModal" tabindex="-1" role="dialog" aria-labelledby="dataModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="dataModalLabel"><span class="badge badge-info">Try again? Good on you! Enjoy and don't forget to Submit</span>
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="rewriting_content">
                    {% for marking_writing in marking_writings %}
                        Topic {{ loop.index }}: {{ marking_writing.item_name }}
                        <textarea class="rewriting" name="{{ marking_writing.item_name }}"
                                  id="{{ marking_writing.id }}" rows="10"
                                  cols="73">{{ marking_writing.rewrite }}</textarea>
                    {% endfor %}
                </div>
            </div>
            <div class="modal-footer">
                <button id="submit_rewrite" type="button" class="btn btn-success">Submit</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Javascripts-->
<script src="/static/ui/vendors/jquery/js/jquery.min.js"></script>
<script src="/static/ui/vendors/js.cookie/js.cookie.js"></script>
<script src="/static/ui/vendors/popper.js/js/popper.min.js"></script>
<script src="/static/ui/vendors/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/ui/vendors/pace-progress/js/pace.min.js"></script>
<script src="/static/ui/vendors/perfect-scrollbar/js/perfect-scrollbar.min.js"></script>
<script src="/static/ui/vendors/@coreui/coreui/js/coreui.min.js"></script>
<script src="/static/ui/vendors/DataTables/datatables.min.js" type="text/javascript"></script>
<script src="/static/ui/js/main.js"></script>
<script src="/static/ui/vendors/jquery-ui-1.12.1/jquery-ui.min.js"></script>
<script src="/static/common/js/csedu_common.js"></script>
<script src="/static/item/js/item_edit.js"></script>
<script src="/static/runner/js/item_runner.js"></script>
<script src="/static/runner/js/item_handlers.js"></script>
<script src="/static/ui/vendors/svg.js-2.7.1/svg.js"></script>
<script src="/static/ui/vendors/bxslider-4-4.2.12/dist/jquery.bxslider.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('.bxslider').bxSlider({
            mode: 'horizontal',
            touchEnabled: true,
            hideControlOnEnd: true
        });
    });

    $("#rewrite_button").click(function () {
        var rewritings = document.getElementsByClassName('rewriting');
        var data = [];
        var i;
        for (i = 0; i < rewritings.length; i++) {
            data.push(rewritings[i].id)
        }

        $.post({
            url: '/writing/rewrite/load/{{ current_user.id }}',
            method: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (response) {
                for (const [key, value] of Object.entries(response)) {
                    $("TextArea#" + key).val(value);
                }
                $("#dataModal").modal('show');
            }
        })
    });

    $("#submit_rewrite").click(function () {
        var rewritings = document.getElementsByClassName('rewriting');
        var data = [];
        var i;
        for (i = 0; i < rewritings.length; i++) {
            data.push({
                marking_id: rewritings[i].id,
                rewriting: rewritings[i].value
            })
        }
        $.ajax({
            url: '/writing/rewrite/save/{{ current_user.id }}',
            method: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(data),
            complete: function () {
            },
            success: function () {
                alert("Rewriting saved successfully")
                $("#dataModal").modal('hide');
            }
        });
    });

    $(document).ready(function () {
        ItemRunner.init($('#dataModal .modal-content'), {mode: 'peek'});
        $('#dataModal').on('hidden.bs.modal', function (e) {
            $('#dataModal .modal-content').empty();
        });
    });
</script>
</body>
</html>