{% extends "ui/ui_base.html" %}

{% block title %}CSEdu Assessment System - Testset Management{% endblock %}
{% block app_content %}
    <h3><i class="icons cui-laptop" style="color: #339af0;"></i> Naplan Online Test - Writing </h3>
    <div class="row">
    <div class="col">
        <div class="card card-accent-info">
            <div class="card-header">
                <div class="col">
                    Please enter your Student ID and Enrolled Assessment GUID.
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <form action="" method="get">
                            <p>
                                {{ form.student_user_id.label }}<br>
                                {{ form.student_user_id(placeholder='8') }}
                            </p>
                            <p>
                                {{ form.assessment_guid.label }}<br>
                                {{ form.assessment_guid() }} <br>
                                ex)
                                {% for _guid in guid_list %}
                                    <a href='{{ url_for("web.testset_list") }}?assessment_guid={{ _guid }}' target="_blank">{{ _guid }}</a><br>
                                {% endfor %}
                            </p>
                            <p>{{ form.submit() }}
                        </form>
                    </div>
                    <div class="col-8">
                        {% if test_form %}
                        <div class="card">
                            <div class="card-header">
                                upload your writing file or submit writing texts.
                            </div>
                            <div class="card-body">
                                <form name="extended_form" id="extended_form" enctype="multipart/form-data"
                                      method="POST" action="{{url_for('writing.upload_writing')}}">
                                    {{ test_form.hidden_tag() }}
                                    <table>
                                    <tr>
                                        <th> uploadInteraction </th>
                                        <td> {{ test_form.w_image }}  {{ test_form.w_image2 }}  {{ test_form.w_image3 }} </td>
                                        <td><button class="btn btn-warning btn-sm" id="uploadImagenButton">Upload Image</button></td>
                                    </tr>
                                    <tr><td colspan="3"><hr/></td></tr>
                                    <tr>
                                        <th> extendedTextInteraction </th>
                                        <td> {{ test_form.w_text(rows="4", cols="50") }} </td>
                                        <td><button class="btn btn-warning btn-sm" id="uploadTextButton">Upload Text </button></td>
                                    </tr>
                                    </table>
                                </form>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock app_content %}
{% block scripts %}
    {{ super() }}
{#    <script>#}
{#        $(document).ready(function () {#}
{#            $('#testsets input').on('click', function () {#}
{#                var testset_id = $(this).data('testset-id');#}
{#                var assessment_guid = $('input[name="assessment_guid"]').val();#}
{#                window.location = '/testing?assessment=' + assessment_guid + '&testset_id=' + testset_id;#}
{#            });#}
{#        });#}
{#    </script>#}
    {#<script>#}
{#    $(document).ready(function () {#}
{#        $('#itemExplanationButton').click(function () {#}
{#            var value = $('#chx_remove').val();#}
{#            $('.img_chx_remove').each(function () {#}
{#                var checked = $(this).prop('checked');#}
{#                var img_number = $(this).attr("value");#}
{#                if (checked) {#}
{#                    if (value.length == 0) {#}
{#                        value = img_number;#}
{#                    } else {#}
{#                        value = value + ',' + img_number;#}
{#                    }#}
{#                }#}
{#            });#}
{#            $('#chx_remove').val(value);#}
{#            $('#extended_edit_form').submit();#}
{#        });#}
{#    });#}
{##}
{#    function test_1() {#}
{#        alert('test');#}
{#    }#}
{#</script>#}

{#    <script src="/static/ui/vendors/jquery-ui-1.12.1/jquery-ui.min.js"></script>#}
{#    <script src="/static/common/js/csedu_common.js"></script>#}
{#    <script src="/static/plan/js/manage.js"></script>    #}
{% endblock %}