{% extends "ui/ui_empty.html" %}

{% block title %}CSEdu Assessment System - Testset Management{% endblock %}
{% block styles %}
    {{ super() }}
{% endblock %}
{% block app_content %}


{% endblock app_content %}
{% block scripts %}
  {{ super() }}
  <script src="/static/ui/vendors/jquery-ui-1.12.1/jquery-ui.min.js"></script>
  <script src="/static/ui/vendors/jquery-ui-rotatable/jquery.ui.rotatable.min.js"></script>
  <script src="/static/ui/vendors/mathjax/mml-chtml.js"></script>
  <script src="/static/ui/vendors/svg.js-2.7.1/svg.js"></script>
  <script src="/static/sample/js/cookie_helper.js"></script>
  <script src="/static/sample/js/item_handlers.js"></script>
{% endblock %}