{% extends "ui/ui_empty.html" %}

{% block title %}CSEdu Assessment System - Testset Management{% endblock %}
{% block styles %}
    {{ super() }}
    <link href="/static/sample/css/report.css" rel="stylesheet">
{% endblock %}
{% block app_content %}
<div class='cover'>
    <div class="main-title"><h3>{{ assessment.sample_type }}</h3></div>
    <div>
        <div class="w100p">
            <label class="margin-r-10 w60">Name</label> : <span class="margin-l-10">{{ user.username }}</span>
        </div>
        <div class="w100p">
            <label class="margin-r-10 w60">Test Date</label> : <span class="margin-l-10">{{ sample_assessment_enroll.test_date }}</span>
        </div>
    </div>
</div>
<div class='cover'>
    <div class="sub-title"><h2>{{ assessment.name }}</h2></div>
    <div>
        <div class="card w150 txt-align-c float-l margin-r-10">
          <h6 class="card-header">Student Score</h6>
          <div class="card-body">
            <h2>{{ my_score }}%</h2>
            <p class="card-text">{{ crroect_count }} out of {{ markings|length }}</p>
          </div>
        </div>
        <div class="card w150 txt-align-c float-l">
          <h6 class="card-header">Test Average</h6>
          <div class="card-body">
            <h2>{{ total_score }}%</h2>
          </div>
        </div>
    </div>
</div>
<table class="table">
  <thead class="table-primary">
    <tr>
      <th scope="col">No</th>
      <th scope="col">Student Answer</th>
      <th scope="col">Correct</th>
      <th scope="col">Correct Answer</th>
      <th scope="col">Category</th>
      <th scope="col">Description</th>
      <th scope="col">Correct(%)</th>
    </tr>
  </thead>
  <tbody>
    {% for marking in markings %}
    <tr>
      <th scope="row" class="txt-align-c cont-color">{{ marking.question_no }}</th>
      <td class="txt-align-c cont-color">{{ marking.candidate_r_value }}</td>
      <td class="txt-align-c cont-focus-color">
      {% if marking.is_correct %}
        <i class="fa fa-check" style="color: #4dbd74"></i>
      {% else %}
        <i class="fa fa-times" style="color: #f86c6b"></i>
      {% endif %}
      </td>
      <td class="txt-align-c cont-color font-red">{{ marking.correct_r_value }}</td>
      <td>{{ marking.subcategory_name }}</td>
      <td>{{ marking.interaction_type }}</td>
      <td class="txt-align-c">{{ marking.percentile }}%</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div id="barchart_material" style="width: 900px; height: 500px;"></div>
<p></p><p></p>
{% endblock app_content %}
{% block scripts %}
  {{ super() }}
  <script src="/static/ui/vendors/jquery-ui-1.12.1/jquery-ui.min.js"></script>
  <script src="/static/ui/vendors/jquery-ui-rotatable/jquery.ui.rotatable.min.js"></script>
  <script src="/static/ui/vendors/mathjax/mml-chtml.js"></script>
  <script src="/static/ui/vendors/svg.js-2.7.1/svg.js"></script>
  <script src="/static/sample/js/cookie_helper.js"></script>
  <script src="/static/sample/js/item_handlers.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        let list = [];
        var title = ['Category', 'My Score', 'Avg Score'];
        list.push(title);
        {% for category in categories %}
        list.push(['{{category.category_name }}', {{category.my_score }}, {{category.score }}]);
        {% endfor %}
        var data = google.visualization.arrayToDataTable(list);

        /*
        var data = google.visualization.arrayToDataTable([
          ['Year', 'Sales', 'Expenses'],
          ['2014', 1000, 400],
          ['2015', 1170, 460],
          ['2016', 660, 1120],
          ['2017', 1030, 540]
        ]);
        */

        var options = {
          chart: {
            title: 'Company Performance',
            subtitle: 'Sales, Expenses, and Profit: 2014-2017',
          },
          height: 350,
            hAxis: {
    viewWindow: {
        min: 0,
        max: 100
    },
    ticks: [0, 25, 50, 75, 100] // display labels every 25
},
          bars: 'horizontal' // Required for Material Bar Charts.
        };

        var chart = new google.charts.Bar(document.getElementById('barchart_material'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
    </script>

{% endblock %}