{% extends "ui/ui_base.html" %}

{% block title %}CSEdu Assessment System - {{ user.username }}{% endblock %}

{% block app_content %}
    <div class="card">
        <div class="card-header">
            <i class="fas fa-user-cog"></i> Codebook Manage - New, Update
        </div>
        <div class="card-body">
            <div id="status" class="alert alert-success" role="alert"></div>
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th>Code Type</th>
                    <th>Code List</th>
                    <th>Add New Code</th>
                    <th>Update Code Name</th>
                    <th>Additional Info</th>
                </tr>
                <tr>
                    <th>{{ form.subject.label }}</th>
                    <td> {{ form.subject(class='code_type') }} </td>
                    <td><input type="text" class="add_code" value=""><i class="icon-check icons add-icon"
                                                                        style="color: #ec6701"></i></td>
                    <td><input type="text" class="update_code" value=""> <i class="icon-check icons update-icon"
                                                                            style="color: #0b4d75"></i></td>
                    <td><textarea rows="1" class="additional_info" value="" placeholder='{"subject_order":3}'></textarea><i class="icon-check icons additional-info-icon"
                                                                            style="color: #0b4d75"></i><br>
                        <small>Enter the {{ form.subject_order.label }} below: (ex, 3) </small><br>
                        {{ form.subject_order(class='subject_order') }}
                        <i class="icon-check icons subject-order-icon" style="color: #0b4d75"></i> <br>
                    </td>
                </tr>
                <tr>
                    <th>&nbsp; - {{ form.category.label }}</th>
                    <td> {{ form.category(class='code_type') }} </td>
                    <td><input type="text" class="add_code" value=""> <i class="icon-check icons add-icon"
                                                                         style="color: #ec6701"></i></td>
                    <td><input type="text" class="update_code" value=""> <i class="icon-check icons update-icon"
                                                                            style="color: #0b4d75"></i></td>
                    <td><textarea rows="1" class="additional_info" value=""> </textarea><i class="icon-check icons additional-info-icon"
                                                                            style="color: #0b4d75"></i></td>
                </tr>
                <tr>
                    <th>&nbsp; &nbsp; - {{ form.subcategory.label }}</th>
                    <td> {{ form.subcategory(class='code_type') }} </td>
                    <td><input type="text" class="add_code" value=""> <i class="icon-check icons add-icon"
                                                                         style="color: #ec6701"></i></td>
                    <td><input type="text" class="update_code" value=""> <i class="icon-check icons update-icon"
                                                                            style="color: #0b4d75"></i></td>
                    <td><textarea rows="1" class="additional_info" value=""> </textarea><i class="icon-check icons additional-info-icon"
                                                                            style="color: #0b4d75"></i></td>
                </tr>
                <tr>
                    <th>{{ form.grade.label }}</th>
                    <td> {{ form.grade(class='code_type') }} </td>
                    <td><input type="text" class="add_code" value=""> <i class="icon-check icons add-icon"
                                                                         style="color: #ec6701"></i></td>
                    <td><input type="text" class="update_code" value=""> <i class="icon-check icons update-icon"
                                                                            style="color: #0b4d75"></i>
                    <td><textarea rows="1" class="additional_info" value=""> </textarea><i class="icon-check icons additional-info-icon"
                                                                            style="color: #0b4d75"></i></td>
                </tr>
                <tr>
                    <th>{{ form.test_type.label }}</th>
                    <td> {{ form.test_type(class='code_type') }} </td>
                    <td><input type="text" class="add_code" value=""> <i class="icon-check icons add-icon"
                                                                         style="color: #ec6701"></i></td>
                    <td><input type="text" class="update_code" value=""> <i class="icon-check icons update-icon"
                                                                            style="color: #0b4d75"></i></td>
                    <td><textarea rows="1" class="additional_info" value=""> </textarea><i class="icon-check icons additional-info-icon"
                                                                            style="color: #0b4d75"></i></td>
                </tr>
                <tr>
                    <th>&nbsp; - {{ form.level.label }}</th>
                    <td> {{ form.level(class='code_type') }} </td>
                    <td><input type="text" class="add_code" value=""> <i class="icon-check icons add-icon"
                                                                         style="color: #ec6701"></i></td>
                    <td><input type="text" class="update_code" value=""> <i class="icon-check icons update-icon"
                                                                            style="color: #0b4d75"></i></td>
                    <td><textarea rows="1" class="additional_info" value=""> </textarea><i class="icon-check icons additional-info-icon"
                                                                            style="color: #0b4d75"></i></td>
                </tr>
                <tr>
                    <th>&nbsp; - {{ form.criteria.label }}</th>
                    <td> {{ form.criteria(class='code_type') }} </td>
                    <td><input type="text" class="add_code" value=""> <i class="icon-check icons add-icon"
                                                                         style="color: #ec6701"></i></td>
                    <td><input type="text" class="update_code" value=""> <i class="icon-check icons update-icon"
                                                                            style="color: #0b4d75"></i></td>
                    <td><textarea rows="1" class="additional_info" value="" placeholder='{"max_score":3}'></textarea><i class="icon-check icons additional-info-icon"
                                                                            style="color: #0b4d75"></i><br>
                        <small>Enter the {{ form.max_score.label }} below: (ex, 3) </small><br>
                        {{ form.max_score(class='max_score') }}
                        <i class="icon-check icons max-score-icon" style="color: #0b4d75"></i> <br>
                    </td>
                </tr>
                <tr>
                    <th>{{ form.test_center.label }}</th>
                    <td> {{ form.test_center(class='code_type') }} </td>
                    <td><input type="text" class="add_code" value=""> <i class="icon-check icons add-icon"
                                                                         style="color: #ec6701"></i></td>
                    <td><input type="text" class="update_code" value=""> <i class="icon-check icons update-icon"
                                                                            style="color: #0b4d75"></i>
                    </td>
                    <td><textarea rows="3" class="additional_info" value=""> </textarea><i class="icon-check icons additional-info-icon"
                                                                            style="color: #0b4d75"></i><br>
                        <small>Select the {{ form.branch_state.label }} below: </small><br>
                        {{ form.branch_state(class='branch_state') }}
                        <i class="icon-check icons branch-state-icon" style="color: #0b4d75"></i>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="/static/common/js/csedu_common.js"></script>
    <script src="/static/plan/js/manage_codebook.js?v=2022031501"></script>
{% endblock scripts %}