<!DOCTYPE html>
<html lang="en">
<head>
  <base href="./">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>CS Education</title>
  <!-- Icons-->
  <link href="/static/ui/vendors/@coreui/icons/css/coreui-icons.min.css" rel="stylesheet">
  <link href="/static/ui/vendors/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
  <link href="/static/ui/vendors/font-awesome/css/all.min.css" rel="stylesheet">
  <link href="/static/ui/vendors/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
  <!-- Magnific Popup core CSS file -->
  <link rel="stylesheet" href="/static/ui/vendors/magnific-popup/magnific-popup.css">

  <!-- Main styles for this application-->
  <link href="/static/ui/css/style.css" rel="stylesheet">
  <link href="/static/ui/vendors/pace-progress/css/pace.min.css" rel="stylesheet">
  <link href="/static/runner/css/test_runner.css" rel="stylesheet">
  <link href="/static/errornote/css/errornote.css" rel="stylesheet">
</head>
<body>
<h4 class="ml-3 mt-3"><a href="/" class="text-decoration-none"><i class="fas fa-arrow-left mr-3"></i>Back to
  list</a></h4>
<div class="container">
  <br><br>
  <input type="hidden" id="assessment_enroll_id" value="{{ assessment_enroll_id }}">
  <div class="card">
    <div class="card-header">
      <h3 style="color:#397e38"> {{ assessment_name }} ({{ subject }}) </h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <table class="table col-6" id="t_student_info">
            <tr>
              <th> Name</th>
              <td> {{ Student.getCSStudentName(student_user_id) }} </td>
              <th> Grade</th>
              <td> {{ grade }}</td>
            </tr>
            <tr>
              <th> Score</th>
              <td> {{ score }}</td>
              <th> Date</th>
              <td> {{ test_datetime }}</td>
            </tr>
          </table>
        </div>
      </div>
      <br>
      {% if markings %}
        {% if last_error_count > 0 %}
        <div class="row">
          <div class="col">
          {% if retry_session_key %}
              <button id="retry-errors-button" data-session-key="{{ retry_session_key }}" class="btn btn-outline-danger btn-lg">Retry errors(Resume)</button>
            {% else %}
              <button id="retry-errors-button" class="btn btn-outline-danger btn-lg">Retry All Errors</button>
            {% endif %}
          </div>
        </div>
        <br>
        {% endif %}
        <div class="row">
          <div class="col">
            <table class="table table-bordered table-hover" style="width:100%" id="t_mark_info">
              <thead class="thead-light">
              <tr>
                <th rowspan="2">Question</th>
                <th colspan="2">Homework</th>
                <th colspan="2">Last try</th>
                <th rowspan="2">Retry</th>
                <th rowspan="2">Explanation</th>
                <th rowspan="2">Category</th>
              </tr>
              <tr>
                <th>Answer</th>
                <th>Mark</th>
                <th>Answer</th>
                <th>Mark</th>
              </tr>
              </thead>
              <tbody>
              {% for marking in markings %}
                  <tr>
                    <td>
                    {{- marking.question_no -}}
                    </td>
                    <td>
                        {{- marking.candidate_r_value -}}
                    </td>
                    <td>
                      {%- if marking.is_correct -%}
                      <i class="fa fa-check" style="color: #4dbd74"></i>
                      {%- else -%}
                      <i class="fa fa-times" style="color: #f86c6b"></i>
                      {%- endif -%}
                    </td>
                    <td>
                        {{- marking.last_r_value -}}
                    </td>
                    <td>
                      {%- if marking.last_is_correct -%}
                      <i class="fa fa-check" style="color: #4dbd74"></i>
                      {%- else -%}
                      <i class="fa fa-times" style="color: #f86c6b"></i>
                      {%- endif -%}
                    </td>
                    <td>
                      {%- if not marking.last_is_correct -%}
                      <i class="fa fa-play-circle retry-question-btn" data-question-no="{{ marking.question_no }}" style="color: #c0a16b"></i>
                      {%- endif -%}
                    </td>
                    <td>
                      {% if marking.explanation_link %}
                        {% if marking.explanation_link_enable %}
                          <a id="view_explanation_window"
                             onclick="window.open('{{ marking.explanation_link }}','_video', 'directories=no,titlebar=no,toolbar=no,location=no,status=no,menubar=no,scrollbars=no,resizable=no,width=1100,height=600');">
                            <i class="fa fa-headphones" style="color: #c0a16b"></i>
                          </a>
                        {% else %}
                          <i class="fa fa-headphones" title="Retry the question to enable" style="color: lightgrey"></i>
                        {% endif %}
                      {% endif %}
                    </td>
                    <td>{{ marking.category_name }}</td>
                  </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
  <br>
  <br>
</div>
<!-- Modal -->
<div class="modal fade" id="dataModal" tabindex="-1" role="dialog" aria-labelledby="dataModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="dataModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Loading... Try again if the contents not shown
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Test Runner -->
<div id="retry-errors-runner-container" style="display: none">
<div id="retry-errors-runner">
  <div class="item-card">
      <div id="items_selected" class="display table table-hover" style="width:100%">
        <div class="item-header">
          <div class="header-result" style="display: inherit">
            <button class="header-result-text correct">
              <i class="fas fa-check"></i><span class="timer-display"> Correct</span>
            </button>
            <button class="header-result-text incorrect">
              <i class="fas fa-times"></i><span class="timer-display"> Incorrect</span>
            </button>
          </div>
          <div class="header-center">
            <button class="header-summary">
					<span class="summary-text">
						<span class="summary-label">Question</span>
						<span class="summary-text-bold"> </span>
						<span class="summary-text-bold question-number"></span>
						<i class="fas fa-list-ul"></i>
					</span>
            </button>
          </div>
          <div class="header-tools" style="display: none">
            <div class="header-tools-protractor-btn"><img src="/static/ui/img/protractor_icon.png"/></div>
            <div class="tools-protractor"><img src="/static/ui/img/protractor.png"/></div>
            <div class="header-tools-ruler-btn"><img src="/static/ui/img/ruler_icon.png"/></div>
            <div class="tools-ruler"><img src="/static/ui/img/ruler.png"/></div>
          </div>
        </div>
        <div class="item-container disable-select" spellcheck="false">

        </div>
        <div class="summary-container" style="display:none;">
          <div class="question-summary-wrapper">
            <h1 class="">Progress summary</h1>
            <div class="question-filter">
              <div class="filter-btn-group filter-show-all">
                <button type="button" class="filter-btn all active" data-filter="all"><span>0</span>Show
                  all
                </button>
              </div>
              <div class="filter-btn-group filter-answered">
                <button type="button" class="filter-btn answered" data-filter="answered"><span>0</span>Answered
                </button>
              </div>
              <div class="filter-btn-group filter-answered">
                <button type="button" class="filter-btn not_answered" data-filter="not_answered">
                  <span>0</span>Not answered
                </button>
              </div>
              <div class="filter-btn-group filter-answered">
                <button type="button" class="filter-btn not_read" data-filter="not_read"><span>0</span>Not
                  read
                </button>
              </div>
              <div class="filter-btn-group filter-answered">
                <button type="button" class="filter-btn flagged" data-filter="flagged"><span>0</span>Flagged
                </button>
              </div>
            </div>
            <h1 class="ng-binding">Questions</h1>
            <p class="">Click a number to go to that question.</p>
            <div class="question-list-summary">

            </div>
          </div>
        </div>
        <div class="item-footer">
          <div class="footer-center"></div>
          <div class="navigator">
            <button class="footer-back-btn" style="display: none"><i class="fas fa-caret-left"></i>Back</button>
            <div class="footer-right-buttons">
              <button class="footer-flag-btn" style="display: none"><span>Flag</span><i class="far fa-flag"></i></button>
              <button class="footer-next-btn">Next<i class="fas fa-caret-right"></i></button>
            </div>
            <div class="footer-right-buttons footer-finish" style="display: none">
              <button class="footer-finish-btn">Submit</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="stageModal" tabindex="-1" role="dialog" aria-labelledby="dataModalLabel"
           aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="dataModalLabel">Stage finished</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                      style="display: none">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Loading...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Review</button>
              <button type="button" class="btn btn-primary next-stage">Next stage</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="finishModal" tabindex="-1" role="dialog" aria-labelledby="dataModalLabel"
           aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="dataModalLabel">Stage finished</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                      style="display: none">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Loading...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Review</button>
              <button type="button" class="btn btn-primary finish-test">Submit</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="timeoverModal" tabindex="-1" role="dialog" aria-labelledby="dataModalLabel"
           aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="dataModalLabel">The test is over.</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                      style="display: none">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Please click the Confirm button to return to test set.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary timeover-confirm">Confirm</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</div>

<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="dataModalLabel"
             aria-hidden="true" data-backdrop="static">
  <input type="hidden" class="error-code" value="">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="dataModalLabel">Error</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                style="display: none">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Please click the Okay button to return to test set.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary error-confirm">Okay</button>
      </div>
    </div>
  </div>
</div>

<!-- Javascripts-->
<script src="/static/ui/vendors/jquery/js/jquery.min.js"></script>
<script src="/static/ui/vendors/js.cookie/js.cookie.js"></script>
<script src="/static/ui/vendors/popper.js/js/popper.min.js"></script>
<script src="/static/ui/vendors/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/ui/vendors/pace-progress/js/pace.min.js"></script>
<script src="/static/ui/vendors/perfect-scrollbar/js/perfect-scrollbar.min.js"></script>
<script src="/static/ui/vendors/@coreui/coreui/js/coreui.min.js"></script>
<script src="/static/ui/vendors/DataTables/datatables.min.js" type="text/javascript"></script>
<script src="/static/ui/vendors/mathjax/mml-chtml.js"></script>
<script src="/static/ui/js/main.js"></script>
<script src="/static/ui/vendors/jquery-ui-1.12.1/jquery-ui.min.js"></script>
<script src="/static/common/js/csedu_common.js"></script>
<script src="/static/item/js/item_edit.js"></script>
<script src="/static/runner/js/item_runner.js"></script>
<script src="/static/runner/js/item_handlers.js"></script>
<script src="/static/ui/vendors/svg.js-2.7.1/svg.js"></script>
<!-- Magnific Popup core JS file -->
<script src="/static/ui/vendors/magnific-popup/jquery.magnific-popup.js"></script>
<script src="/static/errornote/js/errornoterunner.js"></script>

<script type="text/javascript">
  $(document).ready(function () {
    $('#retry-errors-button').on('click', function () {
      $.magnificPopup.open({
        items: {
          src: '#retry-errors-runner .item-card'
        },
        type: 'inline',
        closeBtnInside: true,
        closeOnBgClick: false,
        callbacks: {
          open: function() {
            var options = {
              assessment_enroll_id: $('#assessment_enroll_id').val()
            };
            if ($('#retry-errors-button').data('session-key')) {
              options['session'] = $('#retry-errors-button').data('session-key');
            }
            ErrorNoteRunner.init($('.item-container'), options);
            ErrorNoteRunner.startTest();
          },
          close: function () {
            $('#video-popup').empty();
            window.location.reload();
          }
        }
      });
    });

    $('.retry-question-btn').on('click', function () {
      var question_no = $(this).data('question-no');
      $.magnificPopup.open({
        items: {
          src: '#retry-errors-runner .item-card'
        },
        type: 'inline',
        closeBtnInside: true,
        closeOnBgClick: false,
        callbacks: {
          open: function() {
            var options = {
              assessment_enroll_id: $('#assessment_enroll_id').val()
            };
            if ($('#retry-errors-button').data('session-key')) {
              options['session'] = $('#retry-errors-button').data('session-key');
            }
            ErrorNoteRunner.init($('.item-container'), options);
            ErrorNoteRunner.startTest(question_no);
          },
          close: function () {
            $('#video-popup').empty();
            window.location.reload();
          }
        }
      });
    });

  });
</script>
</body>
</html>