.float-l {float:left}
.w100p {width: 100%}
.w60 {width: 60px !important;}
.w150 {width: 150px !important;}
.txt-align-c {text-align: center}
.card-header {background-color: #deebfc}
.margin-r-10 {margin-right: 10px;}
.margin-l-10 {margin-left: 10px;}
.cover {
    display: flex;
    justify-content: space-between;
}
.sub-title {position:relative; top:80px; color: #838dea}
body {background-color: white !important;}
.card-body {height: 103px}

.app-body {margin: auto auto}
main {width: 960px !important; margin-left: 0 !important;}

.table-primary {background-color:#deebfc}
.table thead th {border-bottom:none; text-align: center}
.cont-color {background-color: #ecf2f9}
.cont-focus-color {background-color: #deebfc}
.font-red {color:red}

.google-visualization-table-table tbody tr td:nth-child(3),
.google-visualization-table-table tbody tr td:nth-child(4)
{text-align:right}

.pb10{padding-bottom: 10px}
.pt20{padding-top: 20px}
.mt5{margin-top: 5px}

.header-fixed .app-body {
    margin-top: 0px !important;
}

.division {
    background-color: #f1f1f5;
}

.main {margin-top: 5px !important}