<html>
    <head>
    </head>
    <body>
        <h3 style="padding-top:20px">Online help Request</h3>
        <hr align="left" style="width: 800px;" />
        <h4>- Requester</h4>
        <table style="border-collapse: collapse;font-family: Tahoma, Geneva, sans-serif;min-width: 800px;">
            <tbody>
                <tr>
                    <td style="padding: 15px;color: #636363;border: 0.5px solid #dddfe1;border-collapse:collapse;background-color: #54585d;color: #ffffff;font-weight: bold;font-size: 13px;border: 0.5px solid #54585d;width: 20%;border-bottom-color: white !important;">Student ID</td>
                    <td style="padding: 15px;color: #636363;border: 0.5px solid #dddfe1;border-collapse:collapse;background-color: #ffffff;">{{ user_id }}</td>
                </tr>
                <tr>
                    <td style="padding: 15px;color: #636363;border: 0.5px solid #dddfe1;border-collapse:collapse;background-color: #54585d;color: #ffffff;font-weight: bold;font-size: 13px;border: 0.5px solid #54585d;width: 20%;border-bottom-color: white !important;">Student Name</td>
                    <td style="padding: 15px;color: #636363;border: 0.5px solid #dddfe1;border-collapse:collapse;background-color: #ffffff;">{{ user_name }}</td>
                </tr>
                <tr>
                    <td style="padding: 15px;color: #636363;border: 0.5px solid #dddfe1;border-collapse:collapse;background-color: #54585d;color: #ffffff;font-weight: bold;font-size: 13px;border: 0.5px solid #54585d;width: 20%;border-bottom-color: white !important;">Branch</td>
                    <td style="padding: 15px;color: #636363;border: 0.5px solid #dddfe1;border-collapse:collapse;background-color: #ffffff;">{{ test_center }}</td>
                </tr>
                <tr>
                    <td style="padding: 15px;color: #636363;border: 0.5px solid #dddfe1;border-collapse:collapse;background-color: #54585d;color: #ffffff;font-weight: bold;font-size: 13px;border: 0.5px solid #54585d;width: 20%;">Request Date</td>
                    <td style="padding: 15px;color: #636363;border: 0.5px solid #dddfe1;border-collapse:collapse;background-color: #ffffff;">{{ date }}</td>
                </tr>
            </tbody>
        </table>
        <h4>- Request Contents</h4>
        <table style="margin-bottom:40px;border-collapse: collapse;font-family: Tahoma, Geneva, sans-serif;min-width: 800px;">
            <tbody>
                <tr>
                    <td style="padding: 15px;color: #636363;border: 0.5px solid #dddfe1;border-collapse:collapse;background-color: #54585d;color: #ffffff;font-weight: bold;font-size: 13px;border: 0.5px solid #54585d;width: 20%;border-bottom-color: white !important;">Test Type</td>
                    <td style="padding: 15px;color: #636363;border: 0.5px solid #dddfe1;border-collapse:collapse;background-color: #ffffff;">{{ test_type }}</td>
                </tr>
                <tr>
                    <td style="padding: 15px;color: #636363;border: 0.5px solid #dddfe1;border-collapse:collapse;background-color: #54585d;color: #ffffff;font-weight: bold;font-size: 13px;border: 0.5px solid #54585d;width: 20%;border-bottom-color: white !important;">Assessment</td>
                    <td style="padding: 15px;color: #636363;border: 0.5px solid #dddfe1;border-collapse:collapse;background-color: #ffffff;">{{ assessment_name }}</td>
                </tr>
                <tr>
                    <td style="padding: 15px;color: #636363;border: 0.5px solid #dddfe1;border-collapse:collapse;background-color: #54585d;color: #ffffff;font-weight: bold;font-size: 13px;border: 0.5px solid #54585d;width: 20%;border-bottom-color: white !important;">Testset</td>
                    <td style="padding: 15px;color: #636363;border: 0.5px solid #dddfe1;border-collapse:collapse;background-color: #ffffff;">{{ testset_name }}</td>
                </tr>
                <tr>
                    <td style="padding: 15px;color: #636363;border: 0.5px solid #dddfe1;border-collapse:collapse;background-color: #54585d;color: #ffffff;font-weight: bold;font-size: 13px;border: 0.5px solid #54585d;width: 20%;border-bottom-color: white !important;">Grade</td>
                    <td style="padding: 15px;color: #636363;border: 0.5px solid #dddfe1;border-collapse:collapse;background-color: #ffffff;">{{ grade }}</td>
                </tr>
                <tr>
                    <td style="padding: 15px;color: #636363;border: 0.5px solid #dddfe1;border-collapse:collapse;background-color: #54585d;color: #ffffff;font-weight: bold;font-size: 13px;border: 0.5px solid #54585d;width: 20%;border-bottom-color: white !important;">Assessment Time</td>
                    <td style="padding: 15px;color: #636363;border: 0.5px solid #dddfe1;border-collapse:collapse;background-color: #ffffff;">{{ start_time }} - {{ finish_time }} ({{ hours }}:{{ minutes }}:{{ seconds }})</td>
                </tr>
                <tr>
                    <td style="padding: 15px;color: #636363;border: 0.5px solid #dddfe1;border-collapse:collapse;background-color: #54585d;color: #ffffff;font-weight: bold;font-size: 13px;border: 0.5px solid #54585d;width: 20%;">Contents</td>
                    <td style="padding: 15px;color: #636363;border: 0.5px solid #dddfe1;border-collapse:collapse;background-color: #ffffff;"><textarea readonly="readonly" cols="91" rows="20">{{ contents }}</textarea></td>
                </tr>
            </tbody>
        </table>
        <div style="padding-top: 10px;padding-bottom: 40px;width: 800px;">
            <img src="https://tstm.cbtest.com.au/static/ui/img/CSEducation.png">
            <span style="display: inline-block;float: right;">Copyright ©2020 CS Education. All Rights Reserved</span>
        </div>
    </body>
</html>
